header#header-container
	#header-items
		img(src='images/merlynne.png')
		span.page-title NewsLynx
		ul.admin-container
			li.admin-item(data-icon="user") twilkinson
			li.admin-item(data-icon="logout") logout
