extends layout

block drawer
	ul.division-switcher
		li(data-mode="my-alerts") My alerts
		li(data-mode="create-new") + Create
	.drawer-container(data-mode="my-alerts")
		.drawer-section-title  Show approval candidates from:
	.drawer-container(data-mode="create-new")
		.drawer-section-title  Add any one of these alerts with the form on the right.


block templates
	script(type="text/jst")#my-alerts-templ
		ul#alert-sources.drawer-item
	
	script(type="text/jst")#alert-source-templ
		li
			label(for="<%= name %>-alerts")
				input(type="checkbox" name="<%= name %>-alerts" checked)
				span.service-icon(data-service-icon="<%= name %>")
				span.service-name <%= name %>


block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/main.js")