extends layout

//- block drawer

block templates
	script(type="text/jst")#my-alerts-templ
		.drawer-title My alerts
		.drawer-section-title  Show approval items from:
		ul#alert-sources.drawer-item
	
	script(type="text/jst")#alert-source-templ
		li
			label(for="<%= name %>-alerts")
				input(type="checkbox" name="<%= name %>-alerts" checked)
				span.service-icon(data-service-icon="<%= name %>")
				span.service-name <%= name %>


	script(type="text/jst")#artdicle-summary-templ
		.article-summary-container


	script(type="text/jst")#artdicle-detail-card-templ
		.article-detail-card-container


block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/main.js")