extends layout

block drawer
	ul.division-switcher
		li(data-mode="my-recipes") My recipes
		li(data-mode="create") + Create
	#drawer-pointers-container
	ul.drawer-list-item-ul#recipes

//- block content
//- 	button.load-more Load more alerts...

block css
	link(rel='stylesheet', href='/stylesheets/thirdparty/pikaday.css')

block templates
	script(type="text/jst")#drawer-my-recipes-templ
		<% if (hasRecipes) { %>
		.drawer-pointer Show me...
		.drawer-list-item
			.view-all.drawer-list-outer
				.inputs-container
					input(type="radio")
				.drawer-list-inner
					.title Pending alerts for all recipes
		.drawer-pointer Or, pending alerts for just...
		<% } else { %>
		.drawer-pointer 
			p You don't have any recipes yet!
			p Click the <span>Create</span> button above to start. Or, refresh the page if you've just made some.
		<% } %>

	script(type="text/jst")#drawer-create-templ
		.drawer-pointer  Add any one of these recipes with the form on the right.


	script(type="text/jst")#recipe-templ
		.drawer-list-outer.modal-parent
			.inputs-container
				input(type="radio")
			.drawer-list-inner
				.count <%= addCommas(event_counts.pending) %> pending
				.title <%= name %>
				<% if (displaySearchParams(sous_chef, options)) { %>
				.description Query: `<%= displaySearchParams(sous_chef, options) %>`
				<% } %>
				.toolbar
					.btn.settings-switch
						span.octicon.octicon-gear(style="margin-right: 3px;")
						span.text Edit
					span.service-icon(data-service!="<%= serviceFromSousChef(sous_chef) %>")
						.span.service-method-label <%= methodFromSousChef(sous_chef) %>
					.btn.enable-switch(data-enabled!="<%= enabled %>") <%= formatEnabled(enabled) %>
			.modal-outer
				.modal-overlay
				.modal-inner
					.modal-title Recipe settings
					form
						.show-hide-default-event This recipe triggers events with some default properties. 
							span.toggle-default-event(data-status!="<%= set_default_event %>") <%= formatDefaultEventEnabled(set_default_event) %>
						.default-event-container(style!="<% (set_default_event) ? print('display:block;') : print('') %>")
						.buttons-container
							button.cancel.modal-close Cancel
							input.save(type="submit", value="Save")
							span.submit-msg
							input.destroy(type="button", value="Delete")

	script(type="text/jst")#recipe-static-templ
		.drawer-list-outer.modal-parent
			.inputs-container
				input(type="radio")
			.drawer-list-inner
				.count <%= addCommas(event_counts.pending) %> pending
				.title <%= name %>


	script(type="text/jst")#sous-chef-drawer-item-templ
		.drawer-list-outer.scroll-to(data-destination!="<%= slug %>")
			.drawer-list-inner
				.title <%= name %>

	script(type="text/jst")#sous-chef-form-templ
		.recipe-form-container
			.recipe-title(id!="<%= slug %>-recipe")
				span.service-icon(data-service!="<%= serviceFromSousChef(slug) %>")
				span.text New <%= name %> recipe
			form
				.show-hide-default-event This recipe triggers events with some default properties. 
					span.toggle-default-event(data-status="false") Disabled
				.default-event-container
				.buttons-container
					input.save(type="submit", value="Create")
					span.submit-msg

	script(type="text/jst")#alert-templ
		.river-item-container.modal-parent
			.approval-child(data-which="info")
				.toolbar
					span.service-icon(data-service!="<%= alertSourceIdToService(source_id) %>")
					span.origin-recipe <%= getRecipeFromId(recipe_id).name %> | <%= displaySearchParams(alertSourceIdToSousChef(source_id), recipe_id) %>
					.timestamp <%= prettyDatestamp(created) %>
				.title <%= name %>
				<% if (authors.length) { %>
				<% var author_prefix = "", author_suffix = ""; %>
				<% if (alertSourceIdToService(source_id) == 'twitter') { %>
				<% author_prefix = "@"; %>
				<% } %>
				<% if (alertSourceIdToService(source_id) == 'twitter') { %>
				<% author_suffix = ' &mdash; ' + addCommas(meta.followers) + ' followers'; %>
				<% } %>
				<% print('<div class="author">'+'<strong>'+ autolink((author_prefix+authors[0])) +'</strong>'+ author_suffix+'</div>') %>
				<% } %>
				<% var domain =  extractDomain(url) %>
				<% if (domain != 'twitter.com' && domain != 'facebook.com' || domain != 'reddit.com') { %>
				.domain <% print(domain) %>  
				<% } %>
				.description <%= autolink(meta.text || '') %>
				<% if (content_items.length) { %>
				<% var list_markup = '<ul class="articles-mentioned">'; %>
				<% var s = ''; %>
				<% if (content_items.length > 1) { s = 's';} %>
				<% list_markup += '<div class="alert-section-title">Article'+s+' mentioned:</div>'; %>
				<% content_items.forEach(function(contentId){ %>
				<% list_markup += '<li>' %>
				<% list_markup += '<a href="https://towcenter.newslynx.org/articles#detail/'+contentId+'" target="_blank">'+getHeadlineFromArticleId(contentId)+'</a>'; %>
				<% list_markup += '</li>' %>
				<% }); %>
				<% list_markup += '</ul>' %>
				<% print(list_markup); %>
				<% } %>
				a.link(href!="<%= url %>", target="_blank") Link
			.approval-child(data-which="btns")
				.approval-btn-container(data-which="yes")
					.approval-btn.octicon.octicon-check
				.approval-btn-container(data-which="no")
					.approval-btn.octicon.octicon-x

block bootstrap-data
	script(id="page-data").
		var pageData =!{JSON.stringify(info)};   

block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/thirdparty/d3.v3.min.js")
	script(src="javascripts/thirdparty/jquery.easing.js")
	script(src="javascripts/thirdparty/pikaday.js")
	script(src="javascripts/thirdparty/typeahead.bundle.min.js")
	script(src="javascripts/thirdparty/Autolinker.min.js")
	script(src="javascripts/thirdparty/moment.js")
	script(src="javascripts/thirdparty/moment-timezone-with-data.js")
	script(src="javascripts/thirdparty/jquery.serializejson.min.js")

	//- Put it all together
	script(src="javascripts/main.bundled.js")