extends layout

block drawer
	ul.division-switcher
		li(data-mode="my-alerts") My alerts
		li(data-mode="create-new") + Create
	.drawer-container(data-mode="my-alerts")
		//- .drawer-section-title.drawer-item  Show approval candidates from:
		//- ul#alert-sources.drawer-item
		.drawer-options
			.view-all.drawer-item Clear filters
		ul#alerts
	.drawer-container(data-mode="create-new")
		.drawer-section-title.drawer-item  Add any one of these alerts with the form on the right.


// This template has to be rendered in standard html because jade
// In all its glory
// Will not render underscore variables inside of attributes such as `.master-switch(data-enabled="<%= enabled %>")`
block templates
	script(type="text/jst")#alert-templ
		| <div class="drawer-list-inner">
		| 	<div class="headline"><%= shortname %> <span class="count">&mdash; <%= countAssociatedItems(uid, 'alert_uid', 'river_items') %></span></div>
		| 	<div class="toolbar">
		| 		<div class="service-icon"><span data-icon="<%= service %>"></span></div>
		| 		<div class="btn edit"><span class="fa fa-cog"></span> <span class="text">Edit</span></div>
		| 		<div class="btn master-switch" data-enabled="<%= enabled %>"><%= formatEnabled(enabled) %></div>
		|		</div>

	script(type="text/jst")#alert-source-templ
			label(for="<%= name %>-alerts")
				input(type="checkbox" name="<%= name %>-alerts" checked)
				span.service-icon(data-service-icon="<%= name %>")
				span.service-name <%= name %>

	script(type="text/jst")#river-item-templ
		| <div class="river-item-container">
		|		<div class="approval-box">
		|			<span class="approval-btn" data-which="yes">&#x2713;</span>
		|			<span class="approval-btn" data-which="no">&times;</span>
		|		</div>
		| 	
		|		<div class="approval-item-info">
		|			<div class="title"><%= title %></div>
		| 		<div class="toolbar">
		| 		<div class="origin-alert"><%= alert_uid %></div>
		|		</div>
		|	</div>

block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/main.js")