extends layout

//- block css
//- 	link(rel='stylesheet', href='/stylesheets/fancybox/jquery.fancybox.css')

block drawer
	ul.division-switcher
		li(data-mode="my-alerts") My alerts
		li(data-mode="create-new") + Create
	.drawer-container.mode-content(data-mode="my-alerts")
		//- .drawer-section-title.drawer-item  Show approval candidates from:
		//- ul#alert-sources.drawer-item
		.drawer-options
			.view-all.drawer-item View all pending items
		ul#alerts
	.drawer-container.mode-content(data-mode="create-new")
		.drawer-section-title.drawer-item  Add any one of these alerts with the form on the right.
		ul#alert-creators



// This template has to be rendered partially in standard html because jade
// In all its glory
// Will not render underscore variables inside of attributes such as `.master-switch(data-enabled="<%= enabled %>")`
block templates
	script(type="text/jst")#alert-templ
		.drawer-list-outer.modal-parent
			.drawer-list-inner
				.count <%= countAssociatedItems(uid, 'alert_uid', 'river_items') %> pending
				.title <%= settings.name %>
				.description <%= settings.search_query %>
				.toolbar
					.btn.settings-switch
						span.fa.fa-cog
						span.text  Edit
					|<div class="btn enable-switch" data-enabled="<%= enabled %>"><%= formatEnabled(enabled) %></div>
			.modal-outer
				.modal-overlay
				.modal-inner
					.title Alert settings
					form
						<%= bakeAlertUpdateForm(uid, service, settings) %>
						.buttons-container
							button.cancel Cancel
							input.save(type="submit", value="Save")

	script(type="text/jst")#alert-creator-templ
		.drawer-list-outer
			.drawer-list-inner
				.title <%= service %>

	script(type="text/jst")#alert-form-templ
		.alert-form-container
			.title New <%= service %> alert
			form
				<%= bakeForm(service, schema) %>
				.buttons-container
					input.save(type="submit", value="Save")

	script(type="text/jst")#river-item-templ
		.river-item-container.modal-parent
			.approval-child(data-which="btns")
				.approval-btn-container(data-which="yes")
					.approval-btn ✓
				.approval-btn-container(data-which="no")
					.approval-btn ×
			.approval-child(data-which="info")
				.title <%= title %>
				.description The carbon in our apple pies billions upon billions cosmos. Extraplanetary Hypatia. Tendrils of gossamer clouds? Rogue stirred by starlight across the centuries cosmic ocean white dwarf billions upon billions the carbon in our apple pies.
				.toolbar
					.origin-alert From alert: <%= alert_uid %>
			.modal-outer
				.modal-overlay
				.modal-inner
					.title Create new event
					.description Add options here and a form for adding a tag, associating with an article etc.
					form
						.buttons-container
							button.cancel Cancel
							input.save(type="submit", value="Create")


// script(type="text/jst")#alert-source-templ
// 		label(for="<%= settings.name %>-alerts")
// 			input(type="checkbox" name="<%= settings.name %>-alerts" checked)
// 			span.service-icon(data-service-icon="<%= settings.name %>")
// 			span.service-name <%= settings.name %>

block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	// script(src="javascripts/thirdparty/jquery.fancybox.pack.js")
	script(src="javascripts/main.js")