extends layout

//- block css
//- 	link(rel='stylesheet', href='/stylesheets/fancybox/jquery.fancybox.css')

block drawer
	ul.division-switcher
		li(data-mode="my-recipes") My recipes
		li(data-mode="create-new") + Create
	.drawer-container.mode-content(data-mode="my-recipes")
		//- .drawer-section-title.drawer-item  Show approval candidates from:
		//- ul#alert-sources.drawer-item
		.drawer-pointer Show me...
		.drawer-list-item
			.view-all.drawer-list-outer
				.inputs-container
					input(type="checkbox")
					input(type="radio")
				.drawer-list-inner
					.title Pending items for all recipes
		.drawer-pointer Or, pending items for just...
		ul#recipes
	.drawer-container.mode-content(data-mode="create-new")
		.drawer-pointer  Add any one of these receipes with the form on the right.
		ul#recipe-creators

block content
	#river-items-container(data-mode="my-recipes").mode-content


//- This template has to be rendered partially in standard html because jade
//- In all its glory
//- Will not render underscore variables inside of attributes such as `.master-switch(data-enabled="<%= enabled %>")`
block templates
	script(type="text/jst")#recipe-templ
		.drawer-list-outer.modal-parent
			.inputs-container
				input(type="checkbox")
				input(type="radio")
			.drawer-list-inner
				.count <%= countAssociatedItems(uid, 'source', 'riverItems') %> pending
				.title <%= settings.name %>
				.description <%= settings.search_query %>
				.toolbar
					.btn.settings-switch
						span.octicon.octicon-gear
						span.text  Edit
					|<span class="service-icon" data-service="<%= serviceFromSource(source) %>"></span>
					|<div class="btn enable-switch" data-enabled="<%= enabled %>"><%= formatEnabled(enabled) %></div>
			.modal-outer
				.modal-overlay
				.modal-inner
					.title Recipe settings
					form
						<%= bakeRecipeUpdateForm(uid, source, settings) %>
						.buttons-container
							button.cancel Cancel
							input.save(type="submit", value="Save")

	script(type="text/jst")#recipe-creator-templ
		|<div class="drawer-list-outer scroll-to" data-destination="<%= source %>">
		.drawer-list-inner
			.title <%= prettyPrintSource(source) %>
		|</div>

	script(type="text/jst")#recipe-form-templ
		.recipe-form-container
			|<div class="title" id="<%= source %>-recipe"><span class="service-icon" data-service="<%= serviceFromSource(source) %>"></span><span class="text">New <%= prettyPrintSource(source) %> recipe</span></div>
			form
				<%= bakeForm(source, schema) %>
				.buttons-container
					input.save(type="submit", value="Save")

	script(type="text/jst")#river-item-templ
		.river-item-container.modal-parent
			.approval-child(data-which="btns")
				.approval-btn-container(data-which="yes")
					.approval-btn ✓
				.approval-btn-container(data-which="no")
					.approval-btn ×
			.approval-child(data-which="info")
				.title <%= name %>
				.description The carbon in our apple pies billions upon billions cosmos. Extraplanetary Hypatia. Tendrils of gossamer clouds? Rogue stirred by starlight across the centuries cosmic ocean white dwarf billions upon billions the carbon in our apple pies.
				.toolbar
					.origin-recipe From recipe: <%= uid %>
			.modal-outer
				.modal-overlay
				.modal-inner
					.title Create new event
					.description Add options here and a form for adding a tag, associating with an article etc.
					form
						.buttons-container
							button.cancel Cancel
							input.save(type="submit", value="Create")

block bootstrap-data
	script(id="page-data").
		var pageData = {};
		pageData.org =!{JSON.stringify(org)};   
		pageData.recipeSchemas =!{JSON.stringify(recipeSchemas)};   
		pageData.accountRecipes =!{JSON.stringify(accountRecipes)};   
		pageData.riverItems =!{JSON.stringify(riverItems)};   


block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/thirdparty/isotope.pkgd.min.js")

	//- Put it all together
	script(src="javascripts/main.bundled.js")