extends layout

block drawer
	ul.division-switcher
		li.active(data-mode="my-alerts") My alerts
		li(data-mode="create-alert") + Create

block templates
	script(type="text/jst")#my-alerts-templ
		.drawer-title My alerts
		.drawer-section-title  Show approval items from:
		ul#alert-sources.drawer-item
	
	script(type="text/jst")#alert-source-templ
		li
			label(for="<%= name %>-alerts")
				input(type="checkbox" name="<%= name %>-alerts" checked)
				span.service-icon(data-service-icon="<%= name %>")
				span.service-name <%= name %>


block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/main.js")