extends layout

block drawer
	ul.division-switcher
		li(data-mode="compare") Compare
		li(data-mode="single") Detail view
	.drawer-pointer Selected articles will display in more detail on the right
	ul#article-list

block templates
	script(type="text/jst")#tag-templ
		.tag-container
			.tag-name <%= name %>
			.tag-count <%= count %>

	script(type="text/jst")#article-summary-templ
		.drawer-list-outer
			.inputs-container
				input(type="checkbox")
				input(type="radio")
			.drawer-list-inner
				.pub-date <%= date(pub_date) %>
				.title <%= headline %>

	script(type="text/jst")#article-detail-templ
		.article-detail-container
			.pub-date <%= date(pub_datetime) %>
			h2.headline <%= title %>
			.nl-desc.description
				p <%= nl_desc %>
			.toolbar
				.comparison-container
					span.icon-comparison vs
					select#article-comparer
						option an average article
						option another thing
				button.create-event + Create event
			section(data-name="timeline")
				h3.title When was this story posted to social media and how many times?
				.description
					p More people are posting this story on Facebook than on Twitter, which is unusual. Spikes occurred on Twitter on Jan 2 at 3pm and again at 8pm.
				#timeline-container
					img(src="images/dummy/timeline.png")
			section(data-name="social-posts")
				h3.title Who is posting this story to social media?
				img(src="images/dummy/social-posts.png")
			section(data-name="traffic-sources")
				h3.title Where is traffic coming from?
				.description
					p This article generally has above-average traffic both from internal and external referalls. As a percentage, external traffic is larger by 10%, which is pretty normal.
				img(src="images/dummy/traffic-sources.png")
			section(data-name="citations")
				h3.title Who is citing this story
				img(src="images/dummy/citations.png")
			section(data-name="events")
				h3.title What events have happened around this story?
				img(src="images/dummy/events.png")

	script(type="text/jst")#article-grid-containter-templ
		#compare-grid
			.header
				.header-meta-container
					.header-meta.cell
						.name Social shares
					.header-meta.cell
						.name Visitors
					.header-meta.cell
						.name Sources
					.header-meta.cell.bars
						.name Tags
				.header-dimensions-container
					.header-el.cell.wide
						.name Headline
					.header-el.cell.date
						.name Date
					.header-el.cell.multi
						.name Twitter
					.header-el.cell.multi
						.name Facebook
					.header-el.cell.multi
						.name Pageviews
					.header-el.cell.multi
						.name Time/page
					.header-el.cell.multi
						.name Internal
					.header-el.cell.multi
						.name External
					.header-el.cell.bars
						.name Subject
					.header-el.cell.bars
						.name Impact
			.rows


	script(type="text/jst")#article-detail-row-templ
		.article-detail-row-container
			.destroy &times;

block bootstrap-data
	script(id="page-data").
		var pageData = {};
		pageData.org =!{JSON.stringify(org)};
		pageData.articleSummaries =!{JSON.stringify(articleSummaries)};
		pageData.articleRowDetails =!{JSON.stringify(articleRowDetails)};
		pageData.articleDetails =!{JSON.stringify(articleDetails)};

block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/thirdparty/d3.v3.min.js")
	script(src="javascripts/main.js")