extends layout

block drawer
	ul.division-switcher
		li(data-mode="compare") Compare
		li(data-mode="detail") Detail view
	#drawer-pointers-container
	ul#article-list.drawer-list-item-ul
		//- button.load-more Load more...

block templates
	script(type="text/jst")#tag-templ
		.tag-container
			.tag-name <%= toTitleCase(name) %>
			.tag-count 

	script(type="text/jst")#drawer-pointers-templ
		.drawer-pointer
			.drawer-item-group(data-which="comparison-marker")
				.drawer-item
					.item-text Compare to...
					select.alter-comparison-marker(data-which="operation")
						option(value="mean") Average of
						option(value="median") Median of
					select.alter-comparison-marker(data-which="group")
						option(value="all") all articles
					button.mini#alter-comparison-marker Set
			.drawer-item-group(data-which="comparison-additions")
				.drawer-item(data-type="action-item")
					button.add-to-comparison(data-action="replace")
						span.octicon-sync.octicon  
						span  Replace with...
				.drawer-item(data-type="action-item") 
					button.add-to-comparison(data-action="add")
						span.octicon-plus.octicon  
						span  Add...
				.drawer-item
					.item-text(data-which="article-count") 
				.drawer-item(data-type="contains-input")
					label.toggle-all
						input(type="checkbox")
						|  Toggle all


	script(type="text/jst")#article-summary-drawer-templ
		.drawer-list-outer
			.inputs-container
				input(type="checkbox")
				input(type="radio")
			.drawer-list-inner
				.pub-date <%= prettyDate(created) %>
				.title <%= title %>
				ul.tag-list.subject-tags-container
				ul.tag-list.impact-tags-container

	script(type="text/jst")#article-detail-event-templ
		.event-content.modal-parent
			.event-created <%= prettyDatestamp(created) %>
			.event-title <%= title %>
			.event-item
				.event-item-title Description
				.event-item-text <%= convertLineBreaksToHtml(description) %>
			<% if (url){ %>
			.event-item
				.event-item-title URL
				.event-item-text
					a(href!="<%= url %>", target="_blank") <%= url %>
			<% } %>
			.event-item
				.event-item-title Tags
				ul.event-tags-container.tag-list
				//- To be filled in by the JavaScript so that each tag has a view
			.edit-event-container
				button.modal-toggle.mini Edit
			.modal-outer

	script(type="text/jst")#article-detail-tag-templ
		span.tag-text <%= toTitleCase(name) %>

	script(type="text/jst")#article-detail-account-subject-tag-templ
		label
			| <input type="checkbox" <%= boolToStr(checked, 'checked') %> ></input>
			span.tag-text <%= toTitleCase(name) %>

	script(type="text/jst")#article-detail-templ
		ul.article-detail-navigation
			li.tooltipped.prev
			li.tooltipped.next
		.article-detail-container
			.article-summary-info-container
				.pub-date <%= prettyDate(created) %>
				h2.headline 
					a(href!="<%= url %>", target="_blank") <%= title %>
				.article-info-wrapper
					a#download-data(href="", download!="newslynx-article-<%= id %>.zip")
						button(data-which="download-data") Download data
					.article-info-container(data-which="author")
						.article-info-title
							span.article-info-title-text Author<% authors.length > 1 ? print ('s') : print('') %>:
						ul.authors
							<% if (!authors.length) { %>
							li.author.empty --
							<% } else { %>
							<% var authors_markup = authors.map(function(author){ return '<div class="author">'+author.name+'</div>'}).join(', ') %>
							<% print(authors_markup) %>
							<% } %>
					.article-info-container(data-which="subject").modal-parent
						.article-info-title#add-subject-tag.modal-toggle
							span.article-info-title-text Subject tags:
						.modal-outer
							.modal-overlay.modal-close
							.modal-inner
								.modal-title Edit subject tags
								ul#subject-tag-settings.tags
									.description
										| You don't have any subject tags yet! Create some on the 
										a(href="/settings") settings
										|  page.
								.buttons-container
									button.cancel.modal-close Done
						ul.tags
							li.tag.empty None
					.article-info-container(data-which="impact")
						.article-info-title 
							span.article-info-title-text Impact tags:
						ul.tags
							li.tag.empty None
					.article-info-container(data-which="impact-categories")
						.article-info-title 
							span.article-info-title-text Impact cats:
						ul.tags
							li.tag.empty None
					.article-info-container(data-which="impact-levels")
						.article-info-title 
							span.article-info-title-text Impact levels:
						ul.tags
							li.tag.empty None
				.toolbar
					.group-container(data-side="left")
						.group-item
							.group-title Tell me about:
							ul.tabs
								li.tab(data-group="life") This story's life
								li.tab(data-group="reading") How people are reading &amp; finding it
								li.tab(data-group="tweeting") Who tweeted it?
					.group-container(data-side="right")
						.group-item#event-creator-container.modal-parent
							button.create-event.modal-toggle + Create event
						//- .group-item
						//- 	.octicon.octicon-git-compare
						//- 	select#article-comparer
						//- 		option(selected) Compare
						//- 		option(value="avg") an average article
						//- 		option(value="perc_95") 95th percentile
			section.detail-section(data-group="life")
				section(data-which="timeline")
					h3.title.hashtagged How many people visited and when was it shared on social media?
					#ST-chart
				section(data-which="events")
					h3.title.hashtagged What events have happened around this story?
					#events-container(data-loading="true")
						#events-filters.section-options.sticky
							.section-title Filter by...
							.option-container(data-type="impact-tags")
								.option-title Tags  
									span.count 
									span.show-hide(data-open="false") Show
								ul.tag-list
									li.placeholder
										| None yet!
							.option-container(data-type="categories")
								.option-title Categories  
									span.count 
									span.show-hide(data-open="false") Show
								ul.tag-list
									li.placeholder
										| None yet!
							.option-container(data-type="levels")
								.option-title Levels  
									span.count 
									span.show-hide(data-open="false") Show
								ul.tag-list
									li.placeholder
										| None yet!
						.section-items-container#events-gallery-container.sticky-anchor
						.placeholder You haven't created any events for this article yet. &mdash; <em>Merlynne</em>
			section.detail-section(data-group="reading")
				.placeholder Google Analytics hasn't compiled the data for this article yet. It will usually appear one day after publication. &mdash; <em>Merlynne</em>
			section.detail-section(data-group="tweeting")
				.placeholder No one's tweeted this story yet. If you'd like, 
					a(href="mailto:favors@newslynx.org") I could ask
					|  Brian and Michael to tweet it for you?
					|  &mdash; <em>Merlynne</em>

	script(type="text/jst")#article-grid-container-templ
		#compare-grid
			.header
				#header-dimensions-container
					<% selects.forEach(function(select){ %>
					.header-el.cell(class!="<%= select.kind %>", data-metric!="<%= select.name %>")
						.name <%= prettyMetricName(select.name, 'super-pretty') %>
						<% if (select.kind == 'metric') {%>
						span.comparison-figure.tooltipped(aria-label="") 
						<% } %>
					<% }); %>
			.rows

	script(type="text/jst")#article-summary-row-templ
		.article-detail-row-container
			.destroy &times;
			<% selects.forEach(function(select){ %>
			<% if (select.kind == 'text'){ %>
			.cell.text.tooltipped.go-to-detail(data-tooltip-align="left", data-id!="<%= id %>", aria-label!="<%= htmlDecode(title) %>")
				.title-text <%= title %>
			<% } else if (select.kind == 'date'){ %>
			.cell.date.single(data-created!="<%= created %>") <%= conciseDate(created) %>
			<% } else if (select.kind == 'metric'){ %>
			.cell.metric.tooltipped(aria-label!="<%= prettyMetricValue(metrics[select.name], select.aggregation) + ' ' + select.display_name %>", data-value!="<%= metrics[select.name] %>")
				.bullet-container
					.bullet(style!="width: <%= calcSize(select.name, metrics[select.name], comparisonMax, comparisonGroup) %>;")
					.marker(style!="left: <%= calcSize(select.name, comparisonOperation, comparisonMax, comparisonGroup) %>;", data-metric-name!="<%= select.name %>")
			<% } else if (select.name == 'subject_tags') { %>
			.cell.bars
				.bar-container(data-group="subject_tags")
					<% subject_tags_grouped.forEach(function(subjectTagColumn){ %>
					.bar-column
						<% subjectTagColumn.forEach(function(subjectTag){ %>
						.bar.tooltipped(style!="background-color: <%= subjectTag.color %>;", aria-label!="<%= subjectTag.name %>", data-tooltip-align="right", data-tooltip-vertical="low")
						<% }); %>
					<% }); %>
			<% } else if (select.name == 'impact_tags') { %>
			.cell.bars
				.bar-container(data-group="impact_tags")
					<% impact_tags_grouped.forEach(function(impactTagColumn){ %>
					.bar-column
						<% impactTagColumn.values.forEach(function(impactTagGroup){ %>
						.bar.tooltipped(style!="background-color: <%= impactTagGroup.values.color %>;", aria-label!="<%= impactTagGroup.values.count %> <%= impactTagGroup.values.name %>: <%= toTitleCase(impactTagGroup.values.level) %> <%= impactTagGroup.values.category %>", data-tooltip-align="right", data-tooltip-vertical="low")
						<% }); %>
					<% }); %>
			<% } %>

			<% }); %>

block css
	link(rel='stylesheet', href='/stylesheets/thirdparty/spotted-tail.css')
	link(rel='stylesheet', href='/stylesheets/thirdparty/pikaday.css')

block bootstrap-data
	script(id="page-data").
		var pageData 	=!{JSON.stringify(info)};

block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/thirdparty/d3.v3.min.js")
	script(src="javascripts/thirdparty/isotope.pkgd.min.js")
	script(src="javascripts/thirdparty/jquery.easing.js")
	script(src="javascripts/thirdparty/spotted-tail.js")
	script(src="javascripts/thirdparty/typeahead.min.js")
	script(src="javascripts/thirdparty/pourover.js")
	script(src="javascripts/thirdparty/moment.js")
	script(src="javascripts/thirdparty/moment-timezone-with-data.js")
	script(src="javascripts/thirdparty/pikaday.js")
	script(src="javascripts/thirdparty/jquery.shiftclick.js")
	script(src="//platform.twitter.com/widgets.js")
	script(src="javascripts/thirdparty/Autolinker.min.js")
	script(src="javascripts/thirdparty/jquery.serializejson.min.js")
	script(src="javascripts/thirdparty/zip.js")
	script(src="javascripts/thirdparty/ykk.js")

	//- Put it all together
	script(src="javascripts/main.bundled.js")

