extends layout

block drawer
	ul.division-switcher
		li(data-mode="compare") Compare
		li(data-mode="single") Detail view
	.drawer-pointer Selected articles will display in more detail on the right
	ul#article-list

block templates
	script(type="text/jst")#tag-templ
		.tag-container
			.tag-name <%= name %>
			.tag-count <%= articles %>

	script(type="text/jst")#article-summary-templ
		.drawer-list-outer
			.inputs-container
				input(type="checkbox")
				input(type="radio")
			.drawer-list-inner
				.pub-date <%= date(datetime) %>
				.title <%= title %>

	script(type="text/jst")#article-detail-templ
		.article-detail-container
			.pub-date <%= date(datetime) %>
			h2.headline <%= title %>
			.tag-container
				.tag-title Tags:
				ul.tags
					<% _.each(subject_tags, function(subject_tag){ %>
					|<li class="tag" style="background-color:<%= subject_tag.color %>;"><%= subject_tag.name %></li>
					<% }) %>
				.edit-tags
					button Edit
			.toolbar
				.group-container(data-side="left")
					.group-item
						.group-title Tell me about:
						ul.tabs
							li.tab.active This story's life
							li.tab Who's reading and sharing it
				.group-container(data-side="right")
					.group-item
						button.create-event + Create event
					.group-item
						span.icon-comparison vs
						select#article-comparer
							option an average article
							option another thing
			section(data-name="timeline")
				h3.title How many people saw it and when was it shared on social media?
				#ST-chart
			section(data-name="social-posts")
				h3.title Who is posting this story to social media?
				img(src="images/dummy/social-posts.png")
			section(data-name="traffic-sources")
				h3.title Where is traffic coming from?
				.description
					p This article generally has above-average traffic both from internal and external referalls. As a percentage, external traffic is larger by 10%, which is pretty normal.
				img(src="images/dummy/traffic-sources.png")
			section(data-name="citations")
				h3.title Who is citing this story
				img(src="images/dummy/citations.png")
			section(data-name="events")
				h3.title What events have happened around this story?
				img(src="images/dummy/events.png")

	script(type="text/jst")#article-grid-container-templ
		#compare-grid
			.header
				.header-meta-container
					.header-meta.cell
						.name Social shares
					.header-meta.cell
						.name Visitors
					.header-meta.cell
						.name Sources
					.header-meta.cell.bars
						.name Tags
				.header-dimensions-container
					.header-el.cell.wide(data-metric="title")
						.name Headline
					.header-el.cell.date(data-metric="date")
						.name Date
					.header-el.cell.multi(data-metric="twitter")
						.name Twitter
					.header-el.cell.multi(data-metric="facebook")
						.name Facebook
					.header-el.cell.multi(data-metric="pageviews")
						.name Pageviews
					.header-el.cell.multi(data-metric="time-on-page")
						.name Time/page
					.header-el.cell.multi(data-metric="internal")
						.name Internal
					.header-el.cell.multi(data-metric="external")
						.name External
					.header-el.cell.bars(data-metric="subject")
						.name Subject
					.header-el.cell.bars(data-metric="impact")
						.name Impact
			.rows

	//-  TODO, sort by % over comparison
	script(type="text/jst")#article-detail-row-templ
		.article-detail-row-container
			.destroy &times;

block css
	link(rel='stylesheet', href='/stylesheets/thirdparty/spotted-tail.css')

block bootstrap-data
	script(id="page-data").
		var pageData = {};
		pageData.org =!{JSON.stringify(org)};
		pageData.articleSummaries =!{JSON.stringify(articleSummaries)};
		pageData.articleDetails =!{JSON.stringify(articleDetails)};
		pageData.eventSchemas =!{JSON.stringify(eventSchemas)};

block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/thirdparty/d3.v3.min.js")
	script(src="javascripts/thirdparty/isotope.pkgd.min.js")
	script(src="javascripts/thirdparty/spotted-tail.js")
		
	//- Helpers
	script(src="javascripts/helpers/common.js")
	script(src="javascripts/helpers/modelsAndCollections.js")
	script(src="javascripts/helpers/templates.js")

	//- Models
	script(src="javascripts/models/detail_item.js")
	script(src="javascripts/models/drawer_list_item.js")
	script(src="javascripts/models/org.js")
	script(src="javascripts/models/river_item.js")
	script(src="javascripts/models/row_item.js")
	script(src="javascripts/models/section_mode.js")
	script(src="javascripts/models/tags.js")

	//- Collections
	script(src="javascripts/collections/detail_items.js")
	script(src="javascripts/collections/drawer_items.js")
	script(src="javascripts/collections/impact_tags.js")
	script(src="javascripts/collections/row_items.js")
	script(src="javascripts/collections/subject_tags.js")

	//- App
	script(src="javascripts/app/helpers.js")
	script(src="javascripts/app/Articles.js")
	script(src="javascripts/app/ApprovalRiver.js")
	script(src="javascripts/app/Settings.js")
	
	//- Views
	script(src="javascripts/views/helpers.js")
	script(src="javascripts/views/ArticleDetail.js")
	script(src="javascripts/views/ArticleDetailGrid.js")
	script(src="javascripts/views/ArticleDetailRow.js")
	script(src="javascripts/views/DivisionSwitcher.js")
	script(src="javascripts/views/DrawerListItem.js")
	script(src="javascripts/views/DrawerListItemStatic.js")
	script(src="javascripts/views/RecipeForm.js")
	script(src="javascripts/views/RiverItem.js")
	script(src="javascripts/views/Tag.js")
		
	//- Routing
	script(src="javascripts/routing/routing.js")

	//- Put it all together
	script(src="javascripts/main.js")

