extends layout

block drawer
	.division-title Hello!
	.merlynne-img
		img(src="images/merlynne/wave.svg")

block content
	#home-page-instructions
		h2 Welcome to NewsLynx!

		p I'm Merlynne Jones, the Chief Impcat Officer around here. I'll be showing you around while Brian and Michael are off in the machine somewhere connecting wires. NewsLynx is divided into three main pages: <span class="look-at-me">Settings</span>, the <span class="look-at-me">Approval River</span> and your <span class="look-at-me">Articles</span>. Let's check out each of them and we'll discuss features as we go!

		h3 Settings

		p I know what you're thinking: "Settings are boring!" They might not be as delectable to sink your teeth into as a tasty squirrel or snowshoe hare on a cold winter's hunt, but they're the foundation for getting the most out of NewsLynx. To access them, click on the tools in the top left of the screen.

		p We'll skip the basic stuff under <span class="look-at-me">Site</span> and <span class="look-at-me">Social</span> &mdash; most of those fields are self-explanatory or include little descriptions anyway. Let's talk about <span class="look-at-me">Tags</span>.

		h4 Tags

		h5 Subject matter tags

		p NewsLynx lets you organize your articles with subject matter tags. For instance, let's say have a newsroom beat around <span class="look-at-me">Fracking</span>. Create a subject tag on the settings with that name and pick a color. You can choose any color but there's also a palette I've picked out. Later on, you can add that tag to any article. If an article is relevant to both <span class="look-at-me">Fracking</span> and, say, <span class="look-at-me">Politics</span>, you can add both tags. An article can have any number of subject tags!

		p Subject tags are really helpful for analysis. Once you've grouped articles under a tag, you can do things like get an average of all pageviews or Twitter shares in that group. But we'll get to that later. The important thing to remember is that the more you tag your articles, the more meaningful comparisons you can make later on down the road.

		p.attention One of the things I've tasked Brian and Michael with for the upcoming weeks is to find ways we can automatically assign subject tags. They'll be reaching out to you to discuss what kinds of subject tags your newsroom would like and how we could automate that process more.

		h5 Impact tags

		p One of the reasons I tasked Brian and Michael with making NewsLynx was so newsrooms could better keep track of impactful <span class="look-at-me">events</span> and group them together in meaningful ways. To do this, we have impact tags, which you create on the <a href="/settings">Settings</a> page just like subject tags. In addition to a color, each impact has a <span class="look-at-me">category</span> and a <span class="look-at-me">level</span>.

		p An impact tag can have one of four categories:
		ul
			li <span class="li-name" style="background-color:#10e346;color:#fff;">Citation</span> &mdash; Someone mentioned your journalism, like in a court case, or someone big on the Twitter.
			li <span class="li-name" style="background-color:#0cf;color:#fff;">Change</span> &mdash; Your journalism led to something happening, like a law being passed.
			li <span class="li-name" style="background-color:#f0c;color:#fff;">Achievement</span> &mdash; Your journalism stands out in some way, like an award, or record page views.
			li <span class="li-name" style="background-color:#c0f;color:#fff;">Other</span> &mdash; ¯\_(ツ)_/¯

		p And one of five levels:

		ul
			li <span class="li-name" style="background-color:#9ce">Institution</span> &mdash; A government or organization
			li <span class="li-name" style="background-color:#DEA4CB">Community</span> &mdash; A group of people, loosely defined by you.
			li <span class="li-name" style="background-color:#cf4">Individual</span> &mdash; A single person
			li <span class="li-name" style="background-color:#ff2">Media</span> &mdash; A media organization that republishes, picks up or cites your work
			li <span class="li-name" style="background-color:#fd2">Internal</span> &mdash; Maybe this article got your team more respect or became a model for future stories.

		p Importantly, impact tags don't belong to articles directly &mdash; hey get assigned to <span class="look-at-me">events</span> which are in turn assigned to articles. When you're browsing and searching articles, you can still filter articles by impact tag, category or level.

		h4 Authenticating

		p The last thing to do before leaving the <span class="look-at-me">Settings</span> page is to authenticate with Google Analytics and Twitter. This will allow NewsLynx to pull in your existing analytics data. We use Twitter authentication to count your article mentions. How we use and store your data is covered in more detail in our <a href="http://github.com/newslynx/data-retention" target="_blank">data retention policy</a>.

		h3 Approval river

		p Now that the settings are out of the way, we can start measuring some impact! The <span class="look-at-me">Approval River</span> is your one place to go for monitoring a number of automatic tasks that are out there, constantly crawling the web for evidence of your journalism and its effects.

		p.attention Each section, such as Approval River or Articles, has subsections. You always navigate a subsection using the buttons at the top of the page such as these options for the Approval River which let you view existing recipes or create new ones:
			| <br/>
			| <img src="images/instructions/division-switcher.png"/ class="centered">

		p In the <span class="look-at-me">Approval River</span>, you create <span class="look-at-me">recipes</span> according to a number of different search types. So far, we have the following recipe types:

		ul
			li <span class="li-name" style="background-color:#4686c6;color:#fff;">Google Alerts</span> &mdash; Enter the RSS feed URL of a pre-existing Google Alert to have its matches show up in the approval river. <a href="#how-make-a-google-alert-recipe">Where do I get the RSS URL?</a>
			li <span class="li-name" style="background-color:#70b7e3;color:#fff;">Twitter search</span> &mdash; A basic search of the Twitter search API.
			li <span class="li-name" style="background-color:#70b7e3;color:#fff;">Twitter list search</span> &mdash; Monitor discussions among a list of Twitter users, useful if you're monitoring a group of people, like members of congress.
			li <span class="li-name" style="background-color:#70b7e3;color:#fff;">Twitter user search</span> &mdash; Follow one person very closely.
			li <span class="li-name" style="background-color:#f05b1b;color:#fff;">Reddit search</span> &mdash; Useful to monitor whether your domain or an article's URL is being discussed on Reddit.
			li <span class="li-name" style="background-color:#3b5998;color:#fff;">Facebook page search</span> &mdash; Monitor the text of posts by a given Facebook page.

		p.attention Note: This is just a preliminary list. If you use other services, <a href="https://groups.google.com/forum/#!forum/newslynx">let's make a list</a> and I'll crack the whip to get it implemented. We are already looking into services like mention.net where you could simply forward those email alerts to a @newslynx.org address but we'd like to know all the different services people are using in order to build a robust ingestion system.
		
		p.attention#how-make-a-google-alert-recipe <strong>How do I find the RSS URL of a Google Alert?</strong> &mdash; Google Alerts can be delivered either to an email address or published as an RSS Feed. To see or make alerts, go to your dashboard at <a href="https://www.google.com/alerts" target="_blank">https://www.google.com/alerts</a>. If you have an existing alert, click its pencil icon to bring up its options. If you're making a new alert, type your search term and then click "Show options" to view the menu. Under "Deliver to", select "RSS Feed." If you click "Update alert" to close out of the edit interface, you should now see an RSS icon next to the pencil. Click that to open the RSS feed and copy its URL. Paste that URL into the NewsLynx recipe creator form.
		
		p The process goes something like this:

		ul 
			li <strong>Recipes</strong> generate <strong>alerts</strong>. 
			li <strong>Alerts</strong>, when approved, become <strong>events</strong> attached to one or more articles.
			li Each <strong>event</strong> has one or more <strong>impact tag</strong> which in turn gets associated with the assigned article.

		p Recipes create alerts when they find a match. If you approve an alert, it becomes an event with the default properties you optionally specified when you made the recipe. Events are assigned to articles and then show up on that article's page. Here's an example:

		p Let's say we're doing an investigative series on the dissapearance of the Lynx primary sources of food, the Snowshoe Hare. Let's make a recipe that will look for mentions of "Snowshoe Hare" by members of congress on Twitter because one of the potential outcomes of this series is more congressional attention.

		p.attention Note: All searches are case-insensitive. Searches can have more options, however, such as case-sensitive and even fuzzy matching. <a href="https://groups.google.com/forum/#!forum/newslynx">Chime in</a> if that's a feature you want and I'll have Michael add it in.

		p
			img(src="images/instructions/recipe-snowshoe-hare.png").bordered

		p We've given this recipe a name, what to search for and we've already started filling out information for potential events that follow from this recipe. Each event has these five fields:

		ul
			li <strong>Assignee(s)</strong> &mdash; One or more article that this event is related to
			li <strong>Title</strong> &mdash; A summary phrase for this event.
			li <strong>What happened</strong> &mdash; A description of the events that unfolded that you consider to be impactful.
			li <strong>Significance</strong> &mdash; Why do you care about these events? How do they tie into your goals and your expectations or what it enabled your newsrooms to do down the road.

		p We filled out <em>some</em> of these fields now in order to help future us remember why we made this recipe in the first place. Setting default information is <em>completely</em> optional.

		p After a few days, we see that it created an alert of a member of congress, in this case Senator Jones, tweeting about Snowshoe Hares.

		p
			img(src="images/instructions/alert-snowshoe-hare.png")

		p Let's approve it and turn this alert into an event! Once we click the green check, we get this window, which should look familiar from the default properties options.

		p
			img(src="images/instructions/create-event-snowshoe-hare.png").bordered

		p We're not bound to what we put in the defaults, though — they're just a guide. We've added some more specific language and we've selected the exact article Senator Jones discussed.

		p.attention All of the fields are required when you approve an alert and turn it into an event.

		p When we hit "Save", that event will now appear on that article's page from within NewsLynx.

		h3 Articles

		p To get all of the required data into the the articles page, I locked Brian and Michael in my basement for two months this summer and only let them out once a day for lunch to go get sandwiches. That's what we talk about when we talk about Big Data.

		p The articles page has two main views: <span class="look-at-me">compare</span> and <span class="look-at-me">detail</span>. 

		h4 Comparisons

		p One of the challenges in creating NewsLynx was figuring out how to allow for easy comparisons and, importantly, how can you quickly <em>find</em> the articles you want to compare. When you open the articles page, it will automatically load your top 20 highest performing articles in terms of pageviews. The column it loads these into we call "the drawer."

		p.attention Is there a more important metric you would like to rank articles by on load? <a href="https://groups.google.com/forum/#!forum/newslynx">Let's have a discusion about it!</a>

		p Let's say you want to compare another set of articles. You can use the filters and search options in the left rail to filter by date, headline text or any subject and impact tags you might have already filed them under.

		p.attention We're soon adding the ability to search by author and even article topic, even if you haven't categorized the article at all! We're scanning the article's text and adding those key subject matter words to the available search text.

		p Now that you've filterd down some articles you want to compare, you have two options: <span class="look-at-me">add</span> these new articles to the comparison view, or <span class="look-at-me">replace</span> the current comparison view with your new selection. Click on the appropriately labeled button on the drawer.

		p
			img(src="images/instructions/article-drawer-buttons.png")

		p All of the columns in the comparison table are sortable (and animated!). You'll notice these little gray markers in each of the blue bars. These are the comparison figures. By default it loads the average article performance in that category but you can change it to the median using the options in the drawer (pictured above). As soon as we get everyone's account set up, we're going to roll out some smaller article subsets. For now, you can compare each figure against the average or median of all articles.

		p The value of that comparison figure is shown next to the column header. You can hover over it for more info.

		p
			img(src="images/instructions/article-comparisons.png")

		p When would you use the median over the average? Good question. Let's say you have one article that <em>vastly</em> outperformed all others and pulled up the average. If you want to discount the weight of that article, you can use the median. Similarly, these bars are only filled with blue up to the 97.5th percentile. Just like the median, this means that a single huge article won't make all of the bars for your other article's tiny. 

		h4 Details

		p Comparison are all well and good but we still gotta get down to each article, especially if we want to see our events we made!

		p Each detail page shows a time series of the Twitter mentions and Facebook shares alongside your promotion for that article such as when it appeared on the home page or when staff members or the main Twitter account pushed it out. That way you can get more context to the numbers you're seeing. 

		p Events are displayed below the graph and you can filter them just like you filtered articles in the comparison view. You can also create events directly on this page using the "Create event" button.

		p There's more to the article page than just the graph and your events, too. We take the information in your Google Analytics, break it down and apply the same comparison figures in the comparison view. We also pull in every tweet that mentions your article and sort them by the follower count of the tweeter

		p
			img(src="images/instructions/article-detail.png" style="width: 95%").bordered

		p.attention Do you want to go directly from reading an article on your website to its NewsLynx page? Check out our bookmarklet <a href="http://newslynx.github.io/LynxIt" target="_blank">LynxIt</a>! Drag it to your bookmarks bar and click it from an article on your site to jump directly to the NewsLynx page. The only caveat is the article has to already be in the system. If it's not, we're working on the ability to manually add articles! It should be ready to use around mid-October!

		p As you can see, we put a lot of information into NewsLynx and we'd love to hear your feedback and how we can make it most useful to you. You can email us directly at <a href="merlynne@newslynx.org">merlynne@newslynx.org</a>. Or, we'd love it if you became active on our <a href="https://groups.google.com/forum/#!forum/newslynx">Google Group</a> where you can share tips with other newsrooms.

		p The project will go through at least December 31st and after that we'll see where we can take it! We really appreciate your participation in this trial and if you have any questions, please don't hesitate to contact us!

		.signed
			p &dash; <em>The NewsLynx Team, (Merlynne Jones, Brian Abelson &amp; Michael Keller)</em>

			p.details <a href="http://newslynx.org" target="_blank">NewsLynx</a> is a research project of the <a href="" target="_blank">Tow Center for Digital Journalism</a> at Columbia University. Read our <a href="http://github.com/newslynx/data-retention" target="_blank">data retention policy</a>.



