doctype html
html
	head
		title NewsLynx | 
			= info.title
		block css
		link(rel='stylesheet', href='/stylesheets/octicon/octicons.css')
		link(rel='stylesheet', href='/stylesheets/css/#{info.page}.css')
	body(data-section="#{info.page}")
		#main-wrapper
			block main-wrapper-contents
		#global-loading
		block bootstrap-data
		block templates
		block scripts
