doctype html
html
	head
		title NewsLynx | 
			= title
		block css
		link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body(data-section="#{page}")
		#main-wrapper
			include page-divisions/left-rail/index.jade
			#drawer
				block drawer
			#content
				block content
			block bootstrap-data
			block templates
			block scripts
