doctype html
html
	head
		title NewsLynx | 
			= info.title
		block css
		link(rel='stylesheet', href='/stylesheets/octicon/octicons.css')
		link(rel='stylesheet', href='/stylesheets/css/#{info.page}.css')
	body(data-section="#{info.page}")
		#main-wrapper
			include page-divisions/left-rail/index.jade
			#drawer(data-loading="true")
				block drawer
			#content(data-loading="true")
				block content
		block bootstrap-data
		block templates
		block scripts
