extends layout

block main-wrapper-contents
	#form-container
		.modal-outer
			.modal-inner
				.modal-title Sign in to 
					span NewsLynx!
				if info.msg
					.msg 
						=info.msg
				form(action='/auth/_VERSION/login', method='POST', onsubmit="$(this).find('input[type=\"submit\"]').addClass('disabled').val('Logging in...')")#login
					.form-row
						input(type='text', name='email' placeholder="you@domain.com")
					.form-row
						input(type='password', name='password' placeholder="password")
					.form-row
						label 
							input(type='checkbox' name="remember_me") 
							| Remember me
						//- For electron app bundling (https://github.com/atom/electron/issues/345)
						script.
							var href = document.location.href
							if (href.indexOf('logout') === -1){
								document.write('<input type="hidden" name="redirect_url" value="'+href+'"/>');
							}
					input(type='submit', value='Log In')

block scripts
	//- Handle redirects by stashing the # portion of the url in a hidden field, which will then be picked up by our login POST endpoint
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script.
		if (typeof require === "function") {
			window.$ = window.jQuery = module.exports
		}
