extends layout

block drawer
	.division-title Log-in
	.division-description 
		p Sign in here with your NewsLynx newsroom credentials.
		p If you'd like an account, email us at 
			a(href="mailto:signup@newslynx.org") signup@newslynx.org.

block content
	if apikey
		p You have successfully logged in!
	else
		form(action='/login', method='POST')#login
			div
				label Username: 
				input(type='text', name='username')
			div
				label Password: 
				input(type='password', name='password')
			div
				input(type='submit', value='Log In')
			if err_msg
				div.error Login failed! 
					span= err_msg