extends layout

block drawer
	.division-title Log-in
	.division-description 
		p Sign in here with your NewsLynx newsroom credentials.
		p If you'd like an account, email us at 
			a(href="mailto:signup@newslynx.org") signup@newslynx.org.

block content
	if info.apikey
		p You have successfully logged in!
	else
		form(action='/auth/login', method='POST')#login
			div
				label Email: 
				input(type='text', name='email')
			div
				label Password: 
				input(type='password', name='password')
			div
				input(type='submit', value='Log In')
			if info.msg
				div.msg
					=info.msg