extends layout

block content
    p Connected with Google Analytics?
    if hasToken
        p Token for Google Analytics successfully saved.
    else
        a(href='/auth/google') Connect with Google Analytics
    //form(action='/organizations/settings', method='POST')
    //    != form