extends layout

block drawer
	.division-title Settings
	.division-description Here you can change your account settings to track new Twitter or Facebook accounts or alert your Google Authentication

block templates
	script(type="text/jst")#settings-templ
		#settings
			.settings-group
				.settings-title Site
				.setting-group
					.setting-title Home page
					ul.inputs-container
						li.input
							|<input type="text" placeholder="propalpatine.org" value="<%= homepage %>">
				.setting-group
					.setting-description Does your site publish an RSS feed of all its articles?
					.setting-flag Includes full article text?
					.setting-title URLs
					ul.inputs-container(data-placeholder="propalpatine.org" data-flag="checkbox")
						<%  for (var i = 0; i < rss_feeds.length; i++) { %>
						li.input.multi
							.multi-child.destroy &times;
							|<input type="text" placeholder="propalpatine.org" value="<%= rss_feeds[i].url %>" class="multi-child" />
							|<input type="checkbox" <% ((rss_feeds[i].full_text === true) ? print('checked') : '') %> />
						<% } %>
					button.add Add
			.settings-group
				.settings-title Social
				.setting-group
					.setting-description If you use a custom URL shortener, what do your links look like on twitter. Please omit a trailing slash.
					.setting-title Short URL
					ul.inputs-container(data-placeholder="propalp.tn" )
						<%  for (var i = 0; i < short_urls.length; i++) { %>
						li.input.multi
							.multi-child.destroy &times;
							|<input type="text" placeholder="propalp.tn" value="<%= short_urls[i].url %>" class="multi-child" />
						<% } %>
					button.add Add
				.setting-group
					.setting-description If you want to track how your articles are shared among staff, create a Twitter list of their accounts and add the Twitter account name who owns the list and the list “slug.
					.setting-title Staff lists
					ul.inputs-container(data-layout="double" data-placeholder='["ProPalpatine","staff"]')
						<%  for (var i = 0; i < twitter_staff_list.length; i++) { %>
						li.input.multi
							.multi-child.destroy &times;
							|<input type="text" placeholder="ProPalpatine" value="<%= twitter_staff_list[i].owner %>" class="multi-child double" />
							|<input type="text" placeholder="staff" value="<%= twitter_staff_list[i].slug %>" class="multi-child double" />
						<% } %>
					button.add Add
				.setting-group
					.setting-description What social accounts does your newsroom use? NewsLynx monitors them to know what’s being promoted.
					.setting-flag Is main account?
					.setting-title Twitter accounts
					ul.inputs-container(data-placeholder="ProPalpatine" data-flag="radio" data-group="twitter")
						<%  for (var i = 0; i < twitter_accounts.length; i++) { %>
						li.input.multi
							.multi-child.destroy &times;
							|<input type="text" placeholder="ProPalpatine" value="<%= twitter_accounts[i].handle %>" class="multi-child" />
							|<input type="radio" name="twitter" <% ((twitter_accounts[i].is_main === true) ? print('checked') : '') %> />
						<% } %>
					button.add Add				
				.setting-group
					.setting-flag Is main account?
					.setting-title Facebook accounts
					ul.inputs-container(data-placeholder="ProPalpatine" data-flag="radio" data-group="facebook")
						<%  for (var i = 0; i < facebook_accounts.length; i++) { %>
						li.input.multi
							.multi-child.destroy &times;
							|<input type="text" placeholder="ProPalpatine" value="<%= twitter_accounts[i].handle %>" class="multi-child" />
							|<input type="radio" name="facebook" <% ((facebook_accounts[i].is_main === true) ? print('checked') : '') %> />
						<% } %>
					button.add Add
			.settings-group
				.settings-title Tags
				.setting-group
					.setting-title Article tags
					ul.inputs-container(data-placeholder="Fracking" data-flag="color" data-group="articles")
						<%  for (var i = 0; i < article_tags.length; i++) { %>
						li.input.multi
							.multi-child.destroy &times;
							|<input type="text" placeholder="Fracking" value="<%= article_tags[i].name %>" class="multi-child" />
							|<input type="text" class="color-picker" data-color="<%= article_tags[i].color %>" data-group="articles"/>
						<% } %>
					button.add Add				
				.setting-group
					.setting-title Impact tags
					ul.inputs-container(data-placeholder="Legislative impact" data-flag="color" data-group="impact")
						<%  for (var i = 0; i < impact_tags.length; i++) { %>
						li.input.multi
							.multi-child.destroy &times;
							|<input type="text" placeholder="Legislative impact" value="<%= impact_tags[i].name %>" class="multi-child" />
							|<input type="text" class="color-picker" data-color="<%= impact_tags[i].color %>" data-group="impact"/>
						<% } %>
					button.add Add	
			.settings-group
				.settings-title Google analytics
				.setting-description We use this data to show you things like pageviews and unique visitors over time. We will only use data for research purposes. 
					a(href="/about") Read our data retention policy for more information.
				.setting-group
					.setting-title Authenicated
					if hasToken
						p.auth-result.success Yes!
					else
						p.auth-result.fail No
						a(href='/auth/google').authenticate
							button Grant access
							//- form(action='/organizations/settings', method='POST')
							//- 	!= form

	//- script(type="text/jst")#settings-group-templ
	//- 	.settings-group
	//- 		.settings-title <%= settings_title %>

	//- script(type="text/jst")#setting-group-templ
	//- 	.setting-group
	//- 		<% (description) ? print('<div class="setting-description">'+description+'</div>' : '') %>
	//- 		<% (flag) ? print('<div class="setting-flag">'+flag+'</div>' : '') %>
	//- 		.setting-title <%= setting_title %>
	//- 		|<ul class="inputs-container" <% (multi === true) ? print('data-placeholder="'+placeholder+'"' : '') %> <% (flag === true) ? print('data-flag="'+flag+'"' : '') %> ></ul>

	//- script(type="text/jst")#single-input-templ
	//- 	ul.inputs-container
	//- 		li.input
	//- 			|<input type="text" placeholder="<%= placeholder %>" value="<% (val) ? print(val) : '' %>">

	script(type="text/jst")#multi-input-templ
		li.input.multi
			.multi-child.destroy &times;
			|<input type="text" placeholder="<%= placeholder %>" class="multi-child" />
			<% if (flag == 'radio') { %>
			<% print('<input type="'+flag+'" name="'+group+'"/>') %>
			<% } else if (flag == 'checkbox') { %>
			<% print('<input type="'+flag+'" />') %>
			<% } else if (flag == 'color') { %>
			<% print('<input type="text" class="color-picker" data-color="#ccc" data-group="'+group+'"/>') %>
			<% } %>

	script(type="text/jst")#multi-input-double-templ
		li.input.multi
			.multi-child.destroy &times;
			|<input type="text" placeholder="<%= placeholder0 %>" class="multi-child double" />
			|<input type="text" placeholder="<%= placeholder1 %>" class="multi-child double" />
			<% (flag) ? print('<input type="'+flag+'"/>') : '' %>

block bootstrap-data
	script(id="page-data").
		var pageData = {};
		pageData.org =!{org};
		//- pageData.settingsSchema =!{settingsSchema};

block css
	link(rel='stylesheet', href='/stylesheets/thirdparty/spectrum.css')

block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/thirdparty/spectrum.js")
	script(src="javascripts/main.js")