extends layout

block main-wrapper-contents
  #form-container
    .modal-outer
      .modal-inner
        .modal-title Setup 
          span NewsLynx!
        .msg Where does your API live?
        form(action='/setup', method='POST')#setup-api
          .form-row
            input(type='text', name='url' placeholder="https://newslynx-api-url.org:5000")
          input(type='submit', value='Submit')
