extends layout

block drawer
	.division-title Submit
	.division-description 
		p Use this form to submit an impactful event.
		p It will be added once approved your local impcat wrangler.
	.merlynne-img
		img(src="images/merlynne/wave.svg")

block content
	form
		p form content goes here