extends layout

block css
	link(rel='stylesheet', href='/stylesheets/thirdparty/pikaday.css')

block main-wrapper-contents
	#header-toolbar
		.content-wrapper
			a.js-internal-link#logo(href="/")
				img(src="/images/merlynne-white.png")
				h1.page-title NewsLynx
	#form-container
		.modal-outer
			.modal-inner
				.modal-title Add an event for approval
				form

block scripts
	script(id="page-data").
		var pageData 	=!{JSON.stringify(info)};

	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script.
		if (typeof module === "object" && typeof module.exports === "object") {$ = jQuery = module.exports;}
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/thirdparty/typeahead.min.js")
	script(src="javascripts/thirdparty/moment.js")
	//- For electron app bundling (https://github.com/atom/electron/issues/345)
	script.
		if (typeof module === "object" && typeof module.exports === "object") {moment = module.exports;}
	script(src="javascripts/thirdparty/moment-timezone-with-data.js")
	script(src="javascripts/thirdparty/pikaday.js")
	script(src="javascripts/thirdparty/jquery.serializejson.min.js")

	//- Put it all together
	script(src="javascripts/main.bundled.js")