doctype html
html
	head
		title NewsLynx | 
			= info.title
		link(rel='stylesheet', href='/stylesheets/thirdparty/pikaday.css')
		link(rel='stylesheet', href='/stylesheets/octicon/octicons.css')
		link(rel='stylesheet', href='/stylesheets/#{info.page}.css')
	body(data-section="#{info.page}")
		#main-wrapper
			#form-container

	script(id="page-data").
		var pageData 	=!{JSON.stringify(info)};

	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/thirdparty/typeahead.min.js")
	script(src="javascripts/thirdparty/pourover.js")
	script(src="javascripts/thirdparty/moment.js")
	script(src="javascripts/thirdparty/moment-timezone-with-data.js")
	script(src="javascripts/thirdparty/pikaday.js")
	script(src="javascripts/thirdparty/jquery.serializejson.min.js")

	//- Put it all together
	script(src="javascripts/main.bundled.js")