link_blue = #0092ce
link_blue_hover = #0082b6

dummy = #fc0
the_beige = #f3f0df
the_green = #0eb521
leftrail_gray = #393939
light_gray = #ADADAD
bg_gray = #7C7C7C
highlight_gray = #666
border_gray = #777676
bg_blue = #b4d5ec
select_blue = #88cfff
enable_green = #529624
disabled_red = #9E0000
kill_red = #D50000

// Page colors
login = #d6ccdf
about = #e3943b
home = #008def
approval_river = #12b7dd
articles = #3ec173
settings = #b980c2
events = #c13d3d

// $page-colors = {
// 	'login': login
// 	'about': about
// 	'home': home
// 	'approval-river': approval_river
// 	'articles': articles
// 	'settings': settings
// 	'events': events
// }