*
	box-sizing border-box
html
	font-size 16px
body
	font 62.5% "Helvetica Neue","Lucida Grande", Helvetica, Arial, sans-serif
	margin 0
html,
body
	height 100%
a
	color link_blue
	text-decoration none
a:hover
	color link_blue_hover
	text-decoration underline
ul
	list-style none
	margin 0
	padding 0

h1,
h2,
h3,
h4,
ul
	margin 0
	padding 0
	-webkit-margin-before 0px
	-webkit-margin-after 0px
	-webkit-margin-start 0px
	-webkit-margin-end 0px
	-webkit-padding-start 0

p
	margin 0