.service-icon[data-service="google"]
	background-image url(/images/service-icons/logos-01.svg)
.service-icon[data-service="twitter"]
	background-image url(/images/service-icons/logos-02.svg)
.service-icon[data-service="reddit"]
	background-image url(/images/service-icons/logos-03.svg)
.service-icon[data-service="facebook"]
	background-image url(/images/service-icons/logos-04.svg)
.service-icon[data-service="rss"]
	background-image url(/images/service-icons/logos-05.svg)
