.timeline-wrapper
	.timeline-title
		.section-hed Timeline
	#ST-chart.timeline-graph

.event-river-wrapper
	.section-hed Events
	ul.tag-filters
		li.pointer Filter by tag
		each tag in tags
			li.tag-filter.tag.selected(data-tag="#{tag}")
				= tag
	ul.event-river-container
		each item in events
			include event-item
