.timeline-wrapper
	.timeline-title
		.section-hed Timeline
	#ST-chart.timeline-graph

.event-river-wrapper
	.section-hed Events
	ul.tag-filters
		li.pointer Filter by tag
		li.tag-filter.tag Major event
		li.tag-filter.tag Social media
		li.tag-filter.tag Discussion
	ul.event-river-container
		include event-item
