li.event-item-wrapper
	.event-item-title event 1
	.event-item-desc The carbon in our apple pies billions upon billions cosmos. Extraplanetary Hypatia. Tendrils of gossamer clouds? Rogue stirred by starlight across the centuries cosmic ocean white dwarf.
	ul.event-item-tags
		li.event-item-tag.tag Social tag
		li.event-item-tag.tag Discussion
