@require 'blueprint'
@require 'blueprint/modules/tags.styl'
@require 'blueprint/modules/tooltips.styl'
@require 'blueprint/modules/forms-modals.styl'


body[data-section="articles"]
	min-width article_min_width
	overflow-x hidden
	.section.active > .nav-link
		background-color articles
	#drawer
		background-color tint(articles, 90%)
	.division-switcher li.active
		background-color articles
		text-shadow 0 0px 12px #535353


#add-article > button
	width 100%
	margin-bottom 10px

.section-options
	input[type="search"]
		height 23px
	.section-title
		font-size 1.3em
		// font-weight bold
		margin-bottom 10px
		color #C0C0C0
	.option-title
		font-size 1em
		text-transform uppercase
		letter-spacing 1px
		margin-bottom 4px
		padding-bottom 4px
		border-bottom 1px solid #A1A1A1
		span
			text-transform none
			border-radius 2px
			padding 1px 3px
			border 1px solid #fff
			width 38px
			display inline-block
			vertical-align top
			text-align center
			margin-top -3px
			float right
			&[data-open="true"]
				border-color transparent
				color #000
				background-color #fff
		span:hover
			cursor pointer
			text-decoration underline
			
.drawer-list-inner,
.event-container
	.tag-list-title
		display inline-block
		width 30px
	.tag-list
		font-size 1.1em
		user-select none
		li
			display inline-block
			padding 1px 4px
			margin 0 3px 2px 0
			border-radius 2px
		li:hover
			cursor default
.tag-list
	.tag-wrapper
		padding-bottom 4px
	.tag-wrapper:hover
		cursor pointer
	.tag-container
		position relative
		top 1px
		padding 5px 8px
		border-left 4px solid #0cf
		border-right-top-radius 3px
		border-right-bottom-radius 3px
		user-select none
	.tag-wrapper.active .tag-container
		background-color #0cf
		border-left-width 0
	.tag-name,.tag-count
		display inline-block
		font-size 1.2em
	.tag-count
		position absolute
		right 8px
	.color-swatch // This is TK, design and integration with existing css styles needs to be done more comprehensively
		display inline-block
		height 10px
		width 5px
		margin-right 3px
	.info
		display inline-block
	.out-link
		color #f4a9ff
	.placeholder
		font-size 1.2em
		text-align center
		letter-spacing 1px
		font-weight 200
		padding-top 5px

.option-container
	margin 12px 0 12px
	.tag-list
		display none

.option-container[data-type="search"]
	button
		width 100%
		

#drawer[data-mode="compare"],
#drawer[data-mode="detail"]
	.inputs-container,
	.drawer-list-inner
		display inline-block
		vertical-align top
	.inputs-container
		margin-right 10px
	.drawer-list-inner
		width 85%
#drawer[data-mode="compare"] .drawer-list-outer.active:hover,
#drawer[data-mode="my-recipes"] .drawer-list-outer.active:hover
	background-color darken(select_blue, 7%)
	cursor pointer

#drawer[data-mode="detail"]
	.inputs-container input[type="radio"]
		display block
	.inputs-container input[type="checkbox"]
		display none

#drawer[data-mode="compare"]
	.inputs-container input[type="radio"]
		display none
	.inputs-container input[type="checkbox"]
		display block
		
#article-list
	position relative
	height "calc(100vh - %s)" % (division_switcher_height + 151) // 183 is the height of the junk in the drawer.
	overflow-x hidden
	overflow-y scroll
	.load-more.loading-spinner
		background-position 77% center !important
	&[data-loading="true"]
		&:before
			content 'Loading...'
			text-align center
			width 100%
			padding-top 44%
			display block
			font-size: 1.5em
			background-image url('../images/gifs/arrows-transparent.gif')
			background-repeat no-repeat
			background-position 68% 99%
			opacity 1
		.load-more
			display none !important
	
/* A R T I C L E  D E T A I L */
padding_verts = 20px
padding_horitz = 50px
filter_opts_width = 175px
#events-container
	margin-top 10px
	.tag-wrapper:hover .tag-container
		background-color bck_gray
	.section-options
		width filter_opts_width
		user-select none
		// background-color #fff
		padding-top 10px
		.section-title
			color #535353
			font-weight normal
		.option-title
			border-bottom-color #d8d5d5
	.section-options.stuck
		position fixed
		top 5px
		left drawer_width + leftrail_width + padding_horitz
	&[data-loading="true"]
		#events-gallery-container
			display none
		

// Maybe indent needs differing here
#content[data-mode="create"] .placeholder,
#events-container .placeholder,
.detail-section .placeholder
	text-align center
	font-size 1.6em
	// font-style italic
	margin 0 auto
	max-width 530px
	width 100%
	

/*    E V E N T S    */
#events-gallery-container,
.section-options
	display inline-block
	vertical-align top
#events-gallery-container
	width 'calc(100% - %s)' % filter_opts_width
	padding-left 20px
	min-height 700px // Give this a min-height to avoid jumping screen on a restrictive filter set
	float right
.event-container
	display inline-block
	vertical-align top
	width 48%
	padding 10px
	border 1px solid #ccc
	margin-top 10px
	box-shadow 0 0 6px #D4D4D4
	background-color #fff
	.event-content
		width 100%
		position relative
		// max-height 375px
		// overflow-y scroll	
		// overflow-x hidden
		// background-color #c0f
	.event-created
		font-size 1.2em
		text-transform uppercase
		margin-bottom 3px
	.event-item,.event-title
		margin-bottom 10px
	.event-title
		font-size 1.8em
		font-weight bold
		line-height 1.2em
	.event-item-title
		font-weight bold
	.event-tags-container
		margin-top 2px
	.event-item-text,.event-item-title
		font-size 1.2em
	.event-item-text
		overflow hidden
	.edit-event-container
		position absolute
		top 0
		right 0
.event-container:nth-child(odd)
	margin-right 10px
	margin-bottom 10px
	
#events-filters.section-options 
	.option-title span
		border-color #000
		&[data-open="true"]
			color #fff
			background-color #000

@media (max-width: 1260px)
	.event-container
		width 100%
		margin 0 0 10px 0 !important
		
/* end events */

/* N A V I G A T I N G  A R T I C L E S */

.article-detail-navigation
	text-align center
	transform translateY(-50%)
	li
		padding 0 5px
		display inline-block
		font-size 1.4em
		color #ccc
		// .octicon
		// 	font-size 20px
		// 	line-height 0
	li:hover
		color #000
		cursor pointer

/* end navigating articles */


/* V I Z S */

.article-detail-viz-container
	width 46%
	display inline-block
	vertical-align top
	margin-bottom 25px
.article-detail-viz-container:nth-child(odd)
	margin-right 4%
.article-detail-viz-container[data-which="tweets"]
	width auto
// .article-detail-viz-container:nth-child(even)
// 	margin-left 0%
.viz-container
	margin-top 10px
	width 100%
	height 100%
	.bar-container,.bar-text
		width 100%
		margin-bottom 5px
	.bar-container
		height 25px
		background-color #eee
		position relative
	.bar-text
		overflow hidden
		font-size 1.2em
		padding 5px 0
		margin-bottom 0
		a
			position relative
			top -3px
			padding 7px 0
			color #909090
			.highlight
				font-weight bold
				color #000
	.bar
		min-width 1px
		background-color select_blue
		height 100%
	.label
		position absolute
		font-size 1.1em
		top 0
		left 3px
		color #000
		white-space nowrap

/* end vizs */

/* end article detail */


/*   D R A W E R   */
#drawer[data-mode="compare"],
#drawer[data-mode="detail"]
	padding-bottom 25px
	.load-more
		display table
		margin 10px auto 20px auto
		width 90%
	.drawer-pointer
		padding 10px 10px 10px 8px
		.drawer-item[data-type="contains-input"]
			padding 2px 0 0 0
		.drawer-item-group[data-which="comparison-marker"]
			margin-bottom 5px
		.drawer-item-group[data-which="comparison-additions"]
			.drawer-item[data-type="action-item"]:first-child
				margin-right 2%
			.drawer-item[data-type="action-item"]
				width 49%
				display inline-block
				vertical-align top
		.drawer-item
			padding 2px
			.item-text
				margin-bottom 3px
			.add-to-comparison,
			.load-more
				font-size 11px
				width 100%
				// border-radius 2px
				// padding 7px 7px 7px 17px
				// color #53A373
				// font-weight 400
				// background-color tint(articles, 72%)
				// box-shadow 1px 1px 2px -1px rgba(26, 92, 3, .5)
				// text-shadow 1px 1px 3px #eafae7
			.item-text[data-which="article-count"]
				font-weight normal
				text-align center
			select
				font-size 11px
				padding 1px 2px !important
				margin-right 5px
			button.mini
				float right
		.drawer-item[data-type="action-item"]:hover
			cursor pointer
		.alter-comparison-marker[data-which="group"]
			width 110px

		// .drawer-item[data-type="action-item"]:hover .add-to-comparison
		// 	background-color tint(articles, 60%)
		// 	color #3D915F
		// .add-to-comparison:active
		// 	background-color tint(articles, 45%) !important
		// 	text-shadow 1px 1px 3px rgba(234, 250, 231, .5)
		.toggle-all
			user-select none
		.toggle-all:not(.disabled)
			color #666
		.toggle-all:not(.disabled):hover
			cursor pointer
			color #000
		.toggle-all.disabled
			opacity .5
/* end drawer */



/* T E X T  S T Y L E S  */

.pub-date
	text-transform uppercase
	margin-bottom 3px
/* end text styles */


/*  M A I N  A R T I C L E  */

// Might need #content padding 0

#content[data-mode="detail"]
	padding padding_verts 0
	// background-color bck_gray
	// .article-detail-wrapper
	// 	padding-bottom padding_verts*4
	.article-info-wrapper
		position relative
	.article-summary-info-container
		position relative
		padding 0 padding_horitz

// #content[data-mode="compare"]
// 	overflow-x hidden

.article-detail-container
	overflow auto
	section
		overflow auto
		background-color bck_gray
	section.detail-section
		padding (padding_verts+10) padding_horitz
		border-top 1px solid #ccc
		border-bottom 1px solid #ccc
		min-height 700px
		
	.toolbar
		position relative
		top 1
		margin-top 20px
		// padding-bottom 10px
		// border-bottom 1px solid #ccc
	.pub-date
		font-size 1.2em
		margin-bottom 4px
	.headline,.title
		position relative
	.headline
		font-size 2.8em
		line-height 1em
		margin-bottom 10px
		a
			color #000
	h3.title
		font-size 1.8em
		line-height 1.2em
	.headline:before,.title:before
		position absolute
		color #DDD
		font-weight 400
	.headline:before
		left -24px
		// content '# '
	.title.hashtagged:before
		left -32px
		// content '## '
	.description
		font-size 1.3em
	.group-container
		display inline-block
		vertical-align bottom
		height 100%
		width 50%
		white-space nowrap
		.group-title
			font-size 1.3em
			margin-bottom 5px
		ul.tabs
			.tab
				position relative
				top 1px
				font-size 1.3em
				display inline-block
				padding 8px
				margin-right 5px
				font-weight 200
				letter-spacing 1px
				user-select none
				border 1px solid transparent
				border-bottom none
			.tab.active
				border-color #ccc
				background-color bck_gray
			.tab:hover
				cursor pointer
				text-decoration underline
			.tab.active:hover
				cursor default
				text-decoration none
	.group-container[data-side="left"]
		.group-item
			min-width 315px
	.group-container[data-side="right"]
		margin-bottom 6px
		.group-item
			float right
			display block
			clear both
		.octicon
			vertical-align sub
			padding-right 5px
			cursor default
		// button.create-event
		// 	margin-bottom 5px
	.article-info-container
		margin 2px 0
	.article-info-title
		position relative
		width 80px
		user-select none
	.article-info-title-text
		border-bottom 1px dotted transparent
	.article-info-title,.author
		font-size 1.2em
		display inline-block
	.tag
		margin-right 5px
	.author:not(.empty):first-child
		margin-left -2px
	.article-info-container[data-which="subject"]
		.article-info-title:hover,
		.article-info-title:hover:before
			cursor pointer
		.article-info-title:hover
			.article-info-title-text
				border-bottom-color #666
		.article-info-title:hover:before
			color #000
	.article-info-container[data-which="subject"]:active
		.article-info-title-text
			border-bottom-style solid
			border-bottom-color #303030
	.article-info-container[data-which="subject"]
		.article-info-title:before
			font normal normal 12px octicons
			content '\f058'
			position absolute
			top 1px
			padding-right 100%
			left -16px
			color #ccc
	ul.tags,ul.authors
		display inline
	.tag:hover
		cursor default
	.edit-tags
		display inline
		margin-left 10px
	#ST-chart
		max-width 960px
		height 500px
		margin-bottom 50px
	.tag-container[data-which="subject"]
		.tag:not(.empty):hover
			cursor pointer
		.tag:not(.empty):hover:after
			position absolute
			left 0
			top 0
			text-align center
			width 100%
			height 100%
			content 'Remove'
			letter-spacing 1px
			color #fff
			line-height 1.5em
			border-radius 2px
			background-color rgba(0,0,0,.15)
		.tag:not(.empty):hover
			.tag-text
				visibility hidden
				
#download-data
	position absolute
	top 0
	right 0

@media (max-width: 1250px )
	.group-container[data-side="right"]
		transform translateY(-100%)
		
#subject-tag-settings
	li
		font-size 1.2em
		display inline-block
		label:hover,input:hover
			cursor pointer !important
		.tag-text
			padding 1px 5px
			border-radius 2px
.detail-section
	overflow auto
	display none
// To show on load, later controled by tabs
.detail-section[data-group='life']
	display block
/* end main article styles */

/* A R T I C L E  R O W */
.article-detail-row-wrapper
	width 100%
	border-bottom 1px solid #eaeaea
	height 28px
	background-color #fff
	user-select none

.article-detail-row-container
	.text:hover
		text-decoration underline
		cursor pointer
	.destroy
		width 25px
		position absolute
		top 1px
		left -(@width)px
		height 100%
		font-size 1.4em
		color #ccc
		text-align right
		font-weight bold
		padding-right 5px
		user-select none
		// background-color #0cf
	.destroy:hover
		cursor pointer
		color #000
		
/* end article row */

/* C O M P A R I S O N  G R I D */
single_width = 8.5%
date_width = 8.5%
gfx_width = 9%
wide_width = 10%
bars_width = 7%

normal_margin = 2%
date_margin = 0%
gfx_margin = normal_margin
bars_margin = 1.5%
// group_margin = 5%

header_height = 25px
compare_grid_padding = 25px

bullet_height = 11px

#compare-grid
	width 100%
	user-select none
	.header,
	.rows
		padding 0 compare_grid_padding
	.header
		padding-top compare_grid_padding
		background-color #eee
		position absolute
		top 0
		right -1*compare_grid_padding*2 // This is a little hack to keep the row the same size as the header. Essentially removing the left and right padding on the header so they both have the same total width
		left drawer_width + leftrail_width
		padding-top 24px
		z-index 1
		min-width article_min_width - drawer_width - leftrail_width + compare_grid_padding*2
		border-bottom 1px solid #e3e3e3
	.rows
		margin-top compare_grid_padding*2 + 5
		margin-bottom compare_grid_padding + 15
.cell
	display inline-block
	vertical-align top
	padding 5px 0
	float left // I'm loathe to do this but it fixes a whitespace error with display inline block
.cell.metric:not(.header-el)
	vertical-align bottom
	position relative
	top -2px
		
.cell
	width single_width
	margin-right normal_margin
.cell.metric
	width gfx_width
	margin-right gfx_margin
	// background-color #fc0
.cell.date
	width date_width
	margin-right date_margin
	// background-color #0cf
.cell.text
	width wide_width
	// background-color #f0c
.cell.bars
	width bars_width
	// background-color #c0f
	margin-right bars_margin
// .header-dimensions-container .cell.bullet:nth-child(even),
// .article-detail-row-container .cell.bullet:nth-child(odd)
// 	margin-right group_margin
/* Header styles */
.header-meta-container,.header-dimensions-container
	width 100%
.header-dimensions-container
	font-weight bold
	margin-bottom 3px
// .header-meta-container
// 	position absolute
// 	top 5px
// 	.comparison-figure-label
// 		font-weight bold
.header-el
	font-size 1.1em
	user-select none
	position relative
	color #666
	white-space nowrap
	.comparison-figure
		position absolute
		right 0
		font-weight normal
		transform translateY(-105%)
		width 100%
		color #666 !important
		font-size .9em
		.comparison-figure-operation
			float left
			text-transform uppercase
		.comparison-figure-value
			float right
.header-el:hover
	cursor pointer
	color #000
.header-el.active
	color the_green
.header-el.active:hover
	color darken(the_green, 15%)
.header-el .name
	display inline-block
	white-space nowrap
.header-el.active:after
	display inline-block
	text-decoration none
	margin-left 3px
	font-size .8em
	position relative
.header-el.active:hover:after
	text-decoration none
.header-el.active[data-sort-ascending="true"]:after
	content '▲'
.header-el.active[data-sort-ascending="false"]:after
	content '▲'
	transform rotate(180deg)
	top 2px

@media (max-width: 1147px )
	.cell.date
		margin-right normal_margin
/* end header styles */


.cell .title-text
	white-space no-wrap
	overflow-x hidden
	font-size 1.2em
.cell.date
	font-size 1.2em
.bullet-container
	background-color #eee
	overflow hidden
	position relative
.bullet
	background-color select_blue
	height bullet_height
.marker,.marker-container
	position absolute !important
	top 0px
	height 100%
.marker
	width 2px
	background-color rgba(124, 124, 124, .5)
.viz-container
	.marker-container
		padding 0 10px
		transform translateX(-50%)
		z-index 9
	.marker
		position relative !important
	.marker,.marker-container
		width 3px	
	

.bar-column
	display inline-block
	width 13px
	margin-right 1px
	text-align center
	vertical-align bottom
.bar-container[data-group="subject"]
	.bar
		height 10px
	
.bar
	width 100%
	margin-top 1px
	height 4px
/* end main article styles */
/* end comparison grid */
