@require 'blueprint'

#content
	padding 10px 15px
.section.active > .nav-link
	background-color home
#drawer
	background-color tint(home, 90%)

#home-page-instructions
	width 620px
	h2,
	h3,
	p
		margin-bottom 10px
	h3,
	h4,
	h5
		margin-top 5px
	h2
		font-size 2.75em
	h3
		font-size 2em
	h4
		font-size 1.9em
	h5
		font-size 1.5em
		color #6f6c6c
	h4,
	h5
		margin-bottom 10px
	p
		font-size 1.3em
	ul
		list-style disc
		margin 0 0 20px 20px
	li
		font-size 1.3em
		line-height 20px
		.li-name-text
			font-weight bold
		.li-name
			padding 1px 5px
			border-radius 2px
	.attention
		background-color #CEE6EF
		padding 10px
		border-radius 5px
	.look-at-me
		font-weight bold
		color #00b602
	img
		max-width 750px
		// width 100%
	img.bordered
		border 1px solid #ccc
	img.centered
		margin 5px auto 0 auto
		display inherit
	.details
		font-size 1.2em
	.signed
		margin-top 35px
		margin-bottom 25px