@require 'blueprint'

#drawer
	background-color login
#content
	padding 15px

label
	display inline-block
	width 70px
	font-size 1.3em
input[type="text"],
input[type="password"]
	min-width 220px
input[type="submit"]
	margin-top 10px
.msg
	font-size 1.3em
	margin-top 10px
.msg.fail
	color disabled_red
