@require 'blueprint'

input_width = 200px
destroy_width = 20px
input_margin = 5px
setting_title_width = 100px
inputs_width = 550px
select_width = 132px

body[data-section="settings"] 
	#content
		padding 25px 35px 25px 35px
	.section.active > .nav-link
		background-color settings
	#drawer
		background-color tint(settings, 85%)
		
.settings-group
	width 650px
	position relative
	// background-color #0cf
.settings-title
	font-weight bold
	font-size 1.8em
	margin-bottom 25px
	padding-bottom 7px
	border-bottom 1px solid #ccc
	position relative
	color light_gray
// .settings-title:before
// 	content '# '
// 	color #ccc
// 	position absolute
// 	left -15px
.setting-group
	margin-bottom 20px
.setting-title
	font-size 1.2em
	width setting_title_width
	font-weight bold
	// color darken(settings, 35%)
	// background-color #fc0
.setting-description
	font-size 1.2em
	color bg_gray
.setting-description p
	margin-bottom 5px
.setting-title,.inputs-container,.multi-child,.color-picker
	display inline-block
	vertical-align top
#settings
	margin-bottom 50px
	.inputs-container
		width inputs_width
		// background-color #f0c
	.input-parent
		height 25px
		margin-left destroy_width
		input[type='text'],
		select
			margin 0 input_margin 0 0
		input[type='text'],
		input[type='password']
			width input_width
		input[type='radio'],
		input[type='checkbox']
			margin 0
		input[type='password']
			clear right
	.input-parent input[type='text'],
	.input-action-btn,
	.color-picker
		height 22px
	.js-input-parent[data-changed="true"]
		.js-input-actions-container
			display inline-block
	.js-input-parent[data-changed="false"]
		.js-input-actions-container
			display none
	.input-actions-container,
	.input-action-btn
		display inline-block
		vertical-align top
	.input-action-btn
		padding 4px
		width 80px
		text-align center
		letter-spacing 1px
		text-transform uppercase
		border 1px solid transparent
		margin-right 3px
		border-radius 2px
		// font-size 1.1em
	.input-action-btn[data-which="cancel"]
		background-color #ddd
		border-color darken(@background-color, 15%)
	.input-action-btn[data-which="save"]
		background-color select_blue
		border-color darken(@background-color, 15%)
	.input-action-btn[data-which="cancel"]:hover
		background-color darken(#ddd, 7%)
	.input-action-btn[data-which="save"]:hover
		background-color darken(select_blue, 8%)
	.input-action-btn:hover
		cursor pointer
#account-authentication
	.setting-group
		margin-top 20px
.setting-flag
	font-size 1.2em
	font-weight bold
	margin-bottom 3px
	margin-left ( setting_title_width + destroy_width + input_width + input_margin*1.6 + 1 )
.setting-group[data-group="impact-tags"] .setting-flag
	display inline-block
.setting-group[data-group="impact-tags"] .setting-flag:nth-child(2)
	margin-left 85px
	margin-right 55px // Bump the next line to the next line
.destroy.multi-child
	width destroy_width
	height 100%
	text-align center
	font-size 1.4em
	color #aaa
.destroy.multi-child:hover
	cursor pointer
	color #000
button.add
	display block
	margin-top 5px
	margin-left (setting_title_width + destroy_width)
button.add[data-first="true"]
	// margin-left 0
	transform translateY(-95%)
.color-picker
	width 25px
// Color picker style overrides
// The arrow
.sp-replacer:hover .sp-dd
	color #999
.sp-dd
	font-size 18px
	line-height 0px
	color #ccc
	padding 0
	transorm scaleX(-0.7)
.sp-preview
	margin-right 0
	border none
.sp-replacer
	padding 0
	border none
	background transparent
	vertical-align top
.sp-container
	border-color #ccc
.sp-picker-container
	border none
.sp-input
	background auto
	border-radius 0
.sp-cancel
	color #000 !important
.sp-palette .sp-thumb-el
	border-color #ECECEC
.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active
	border-color #303030
.sp-palette.sp-thumb.sp-cf
	width 80px
.sp-palette-row-selection
	margin-top 10px
	padding-top 10px
	border-top 1px solid #ccc
.auth-container
	display inline-block
	vertical-align top
	margin-left destroy_width
.auth-result
	font-size 1.3em
	margin-bottom 10px
.success
	color enable_green
.fail
	color disabled_red
.authenticate
	display block
	color #000 !important
	margin-top 3px
	button
		margin 0

.save-container
	margin 25px 0
	input[type="submit"]
		margin-top 5px !important
		font-size 1.6em
		font-weight normal!important