@require 'blueprint'

input_width = 220px
input_height = 34px
destroy_width = 20px
input_margin = 5px
setting_title_width = 100px
inputs_width = 550px
select_width = 132px

#content
	padding 25px 35px 25px 35px
.section.active > .nav-link
	background-color settings
#drawer
	background-color tint(settings, 85%)
	
.form-value-only
	display none
		
.settings-group
	width 650px
	position relative
.settings-title
	font-weight bold
	font-size 1.8em
	margin-bottom 25px
	padding-bottom 7px
	border-bottom 1px solid #ccc
	position relative
	color light_gray
.setting-group
	margin-bottom 20px
.setting-title
	font-size 1.2em
	width setting_title_width
	font-weight bold
.setting-description
	font-size 1.2em
	color bg_gray
.setting-description p
	margin-bottom 15px
.setting-title,
.inputs-container,
.multi-child,
.color-picker
	display inline-block
	vertical-align top
#settings
	margin-bottom 50px
	
.inputs-container
	width inputs_width
	// background-color #f0c
.parent-form
	margin-left destroy_width
	white-space no-wrap
	input[type='text'],
	select
		margin-right input_margin
	input[type='text'],
	input[type='password']
		width input_width
	input[type='radio'],
	input[type='checkbox']
		margin 0
	input[type='password']
		display block
.parent-form[data-changed="true"]
	.input-actions-container
		display inline-block
		
#password
		input[type="password"].js-needs-correction
			border-color kill_red
		
.js-parent-form.js-just-saved:after
	content '🎉🎉🎉'
	padding 5px 0 0 5px
	font-size 1.8em
	animation fadeOut 1500ms cubic-bezier(0, 0, .8, .5) // Timing must match timing in `AA_BaseSettings.js.modelsaved`
		
@keyframes fadeOut {
	from{
		opacity 1
	}
	to{
		opacity 0
	}
}

@keyframes decay {
	from{
		opacity 1
	}
	to{
		opacity 0
	}
	
}
		
.input-actions-container,
.input-action-btn
	vertical-align top
.input-action-btn
	display inline-block
	height input_height
.input-actions-container
	display none
.input-action-btn
	// width 80px
	text-align center
	// letter-spacing 1px
	// text-transform uppercase
	margin-right 3px
	// font-size 1.1em
.parent-form[data-new="true"],
.js-parent-form[data-new="true"]
	.input-action-btn[data-which="cancel"]
		display none
.input-action-btn:hover
	cursor pointer
	
#account-authentication
	.setting-group
		margin-top 20px
.setting-flag
	font-size 1.2em
	font-weight bold
	margin-bottom 10px
	margin-left ( setting_title_width + destroy_width + input_width + input_margin*5 + 1 )
#impact-tags 
	.setting-flag
		display inline-block
#impact-tags 
	.setting-flag:nth-child(2)
		margin-left 85px
		margin-right 55px // Bump the next line to the next line
.destroy.multi-child
	width destroy_width
	height input_height
	text-align center
	font-size 1.8em
	padding-top 4px
	color #aaa
	&:hover
		cursor pointer
		color kill_red
		font-weight bold
button.add
	display block
	margin-top 5px
	margin-left (setting_title_width + destroy_width*2)
.setting-group[data-empty="true"]
	.setting-flag
		display none
	.add
		transform translateY(-95%)
		
#promotion[data-homepage-set="false"]
	pointer-events none
	.setting-group
		opacity .5
	.settings-title:after
		content 'Please set your homepage before creating recipes'
		color disabled_red
		font-size 0.8em
		margin-left 10px
		text-transform uppercase
		font-weight normal

// Color picker style overrides
// The arrow
.sp-replacer:hover 
	.sp-dd
		color #999
.sp-dd
	font-size 18px
	line-height 0px
	color #ccc
	padding 0
	transorm scaleX(-0.7)
	display none
.sp-preview
	margin-right 0
	border none
	width input_height
	height @width
.sp-replacer
	padding 0
	border none
	background transparent
	vertical-align top
	margin-right 5px
.sp-container
	border-color #ccc
	background-color #fff
.sp-picker-container
	border none
.sp-input
	background auto
	border-radius 0
.sp-cancel
	color #000 !important
.sp-palette .sp-thumb-el
	border-color #fff
.sp-palette .sp-thumb-el:hover, 
.sp-palette .sp-thumb-el.sp-thumb-active
	border-color #303030
.sp-palette .sp-thumb-active .sp-thumb-inner
	background-image none !important
.sp-palette-row-selection
	margin-top 10px
	padding-top 10px
	border-top 1px solid #ccc
.auth-container
	display inline-block
	vertical-align top
	margin-left destroy_width
.auth-result
	font-size 1.3em
	margin-bottom 10px
.success
	color enable_green
	span
		color #000
.fail
	color disabled_red
.authenticate
	display block
	color #000 !important
	margin-top 3px
	button
		margin 0
		
.js-destroy-wait
	pointer-events none
	opacity .5

.save-container
	margin 25px 0
	input[type="submit"]
		margin-top 5px !important
		font-size 1.6em
		font-weight normal!important
		
.ga-property
	font-size 1.2em