@import 'nib'

*
	box-sizing border-box
html
	font-size 16px
body
	font 62.5% "Helvetica Neue","Lucida Grande", Helvetica, Arial, sans-serif
	margin 0
html,body
	height 100%
a
	color #0092ce
	text-decoration none
a:hover
	color #0082b6
	text-decoration underline
ul
	list-style none
	margin 0
	padding 0

h1,h2,h3,h4,ul
	margin 0
	padding 0
	-webkit-margin-before 0px
	-webkit-margin-after 0px
	-webkit-margin-start 0px
	-webkit-margin-end 0px
	-webkit-padding-start 0


input[type="search"]
	appearance searchfield
button
	margin 0
button:hover,input[type="submit"]:hover
	cursor pointer

/* M O D E S */
body[data-modal=true]
	overflow hidden

// Widths
leftrail_width = 250px
drawer_width = 285px
content_width = 850
header_height = 50px
furniture_width = leftrail_width + drawer_width
page_width = (leftrail_width + drawer_width + content_width)

// Colors
dummy = #fc0
the_beige = #f3f0df
the_green = #0eb521
leftrail_gray = #393939
bg_gray = #7C7C7C
highlight_gray = #666
border_gray = #777676
bg_blue = #b4d5ec
select_blue = #88cfff
enable_green = #529624
disabled_red = #9E0000
// Page colors
login = #d6ccdf
about = #e3943b
home = #008def
approval_river = #12b7dd
articles = #3ec173
settings = #b980c2
events = #c13d3d

/* M A I N  P A G E  E L E M E N T S  */
#main-wrapper
	width 100%
	height 100%
	min-width 960px //TK
#left-rail,#drawer, #content
	display inline-block
	// position relative
	vertical-align top
	height 100%

#drawer, #content
	overflow-x hidden
#left-rail
	width leftrail_width
	background-color leftrail_gray
	overflow hidden
	// box-shadow 0px 0px 6px #000
	z-index 9
#drawer
	width drawer_width
	background-color dummy
	border-right 1px solid border_gray
	// box-shadow 0px 0px 8px darken(dummy, 10%)
	z-index 8
#content
	width "calc(100% - %s)" % (drawer_width + leftrail_width)
/* end main page elements */

/* H E A D E R	*/
#left-rail
	height 100%
	color #fff
	overflow-x hidden
	#header-container
		height header_height
		width 100%
		background-color black
		// box-shadow 0 6px 12px #000
		padding 3px 0 0 5px
		a
			text-decoration none
			color #f2f2f2
		a:hover h1
			text-decoration underline
		img, h1.page-title
			position relative
		img
			height 45px
			width (@height)px
		h1.page-title
			top 20%
			font-size 2.5em
			margin 0
			padding 0
			font-weight 200
			display inline-block
			vertical-align top
		.settings
			display inline-block
			position relative
			top 20px
			float right
			padding-right 5px
			a
				font-size 1.4em
			a:hover
				text-decoration underline
	nav
		overflow-y scroll
		overflow-x hidden
		height 'calc(100vh - %s)' % (header_height)


/* L E F T  R A I L */
.main-sections
	margin-top 10px
	li
		user-select none
	.section.active .nav-link
		text-shadow 0 0px 12px #535353
	.section.active:hover
		cursor default
	.option-container
		margin 12px 0 12px
	input, select
		width 100%
		display inline-block
	select
		height 26px
		padding-top 2px
	.section-options, .nav-link, a:not(.out-link)
		padding 10px 25px
	.nav-link,a
		color #f2f2f2
	.nav-link, a:not(.out-link)
		font-size 2em
		font-weight 100
		display block
		text-decoration none
	a:hover:not(.out-link)
		cursor pointer
		background-color highlight_gray
	.section.active .nav-link:hover
		cursor default
	.option-container[data-type="date-range"] input
		width 45%
	.option-container[data-type="date-range"] input[data-dir="to"]
		float right

.section-options,.section-subnav
	background-color bg_gray
	color #fff
// .subnav-option:hover
// 	cursor pointer
// 	background-color tint(bg_gray, 23%)
	
.section-options
	input[type="search"]
		height 23px
	.section-title
		font-size 1.3em
		font-weight bold
		margin-bottom 10px
		color #C0C0C0
	.option-title
		font-size 1em
		text-transform uppercase
		letter-spacing 1px
		margin-bottom 4px
		padding-bottom 4px
		border-bottom 1px solid #A1A1A1
		// font-size 1.1em
		// text-transform uppercase
		// letter-spacing 1px
		// margin-bottom 4px
		// padding-bottom 4px
		// border-bottom 1px solid #A1A1A1

.tag-list
	.tag-wrapper
		padding-bottom 4px
	.tag-wrapper:hover
		cursor pointer
	.tag-wrapper:hover .tag-container
		background-color #A1A1A1
	.tag-container
		position relative
		top 2px
		padding 5px 8px
		border-left 4px solid #0cf
		border-right-top-radius 3px
		border-right-bottom-radius 3px
		user-select none
	.tag-wrapper.active .tag-container
		background-color #0cf
		border-left-width 0
	.tag-name,.tag-count
		display inline-block
		font-size 1.1em
	.tag-count
		float right

.option-container
	.edit
		a
			font-size 1.3em
			display inline-block
			width 100%
			font-weight 100
			text-align right

.option-container[data-type="search"]
	button
		width 100%

/* end left rails */

/* S E C T I O N  S P E C I F I C  S T Y L E S  */
body[data-section="about"]
	.section.active > .nav-link
		background-color about
	#drawer
		background-color tint(about, 90%)
body[data-section="home"]
	.section.active > .nav-link
		background-color home
	#drawer
		background-color tint(home, 90%)
body[data-section="approval-river"] 
	.section.active > .nav-link
		background-color approval_river
	#drawer
		background-color tint(approval_river, 90%)
	.division-switcher li.active
		background-color approval_river
		text-shadow 0 0px 12px #535353
body[data-section="articles"]
	.section.active > .nav-link
		background-color articles
	#drawer
		background-color tint(articles, 90%)
	.division-switcher li.active
		background-color articles
		text-shadow 0 0px 12px #535353
body[data-section="settings"] 
	.section.active > .nav-link
		background-color settings
	#drawer
		background-color tint(settings, 85%)
body[data-section="login"] 
	#drawer
		background-color login

/* end section specific styles */

/* D R A W E R */
division_switcher_height = 50px
drawer_pointer_padding = 62px


body[data-section="settings"] #content
	padding 15px
	
#drawer
	p
		// font-size 1.3em
		line-height 1.3em
.drawer-title,.division-switcher
	width 100%
	font-size 2.4em
	font-weight 100
// TODO, possibly remove .drawer-item
.drawer-title,.drawer-item,.drawer-list-outer,.modal-outer
	padding 10px
	user-select none
.drawer-short-item
	padding 0 15px
.drawer-section-title
	font-size 1.4em
	font-weight 200
// .drawer-list-inner
// 	border-left 3px solid select_blue
// 	padding 6px 0 6px 5px
// .drawer-list-item.active .drawer-list-inner
// 	border-left-width 0
// 	padding-left 0
// .drawer-list-inner,.tag-container
// 	transition border-left-width .1s linear,padding-left .1s linear
/*   A R T I C L E  S T Y L E S   */
.division-switcher
	font-size 1.8em
	display table
	background-color bg_gray
	li
		display table-cell
		width 50%
		text-align center
		vertical-align middle
		padding 5px
		height division_switcher_height
		color #fff
		user-select none
	li:not(.active):hover
		cursor pointer
		background-color tint(highlight_gray, 30%)
	.active:hover
		cursor default

.drawer-list-item,.drawer-options,.drawer-section-title,.drawer-pointer
	user-select none
	// border-bottom 1px solid border_gray
	.btn
		padding 5px 0
	.pub-date
		font-size 1.1em
	.title
		font-size 1.4em
		margin-bottom 2px
	.count
		// font-size .9em
		text-transform uppercase
		margin-bottom 2px
	.description
		font-size 1.2em
		color bg_gray
	.toolbar
		font-size 1.2em
		margin-top 11px
	.settings-switch,.enable-switch
		display inline-block
	.enable-switch
		float right
	.enable-switch[data-enabled="true"]
		color enable_green
	.enable-switch[data-enabled="false"]
		color disabled_red
	.settings-switch:not(.active):hover .text,.enable-switch:hover
		text-decoration underline
		cursor pointer
	.settings-switch:active
		color #666
	.modal-switch.active:hover
		cursor default
	// .enable-switch[data-enabled="true"]:active
	// 	color shade(enable_green, 80%)
	// .enable-switch[data-enabled="false"]:active
	// 	color shade(disabled_red, 80%)
.drawer-list-outer:not(.active):hover
	cursor pointer
	background-color tint(select_blue, 45%)
.drawer-list-outer.active
	background-color select_blue
.drawer-list-outer.active:hover
	cursor default
#drawer[data-mode="compare"] .drawer-list-outer.active:hover,
#drawer[data-mode="my-alerts"] .drawer-list-outer.active:hover
	background-color darken(select_blue, 7%)
	cursor pointer
	// cursor pointer
// TODO, instead of darkening the background color, have an x always present that gets underlines on hover

#drawer .inputs-container,#drawer .inputs-container input
	display none
#drawer[data-mode="compare"],#drawer[data-mode="single"],,#drawer[data-mode="my-alerts"]
	.inputs-container,.drawer-list-inner
		display inline-block
		vertical-align top
	.inputs-container
		margin-right 10px
	.drawer-list-inner
		width 85%
#drawer[data-mode="compare"]
	.inputs-container input[type="checkbox"]
		display block
#drawer[data-mode="single"],#drawer[data-mode="my-alerts"]
	.inputs-container input[type="radio"]
		display block

#article-list
	height "calc(100vh - %s)" % (division_switcher_height + drawer_pointer_padding)
	overflow-x hidden
	overflow-y scroll
/* end drawer item */

/*  A P P R O V A L  R I V E R   */
#content[data-mode="my-alerts"],#content[data-mode="create-new"]
	padding 25px
	.article-detail-wrapper
		margin-bottom 35px

.drawer-pointer
	padding 20px 10px 8px 10px
	font-size 1.3em
	font-weight bold
	color #303030
#alert-sources
	padding 0
.view-all:hover
	cursor default
#drawer[data-mode="my-alerts"] .view-all.active.drawer-list-outer:hover
	background-color select_blue
	cursor default
.approval-child
	display inline-block
	height 100%
	vertical-align top
.approval-child[data-which="btns"]
	margin-right 1%
.approval-child[data-which="info"]
	width 85%
.approval-btn-container
	text-align center
	width 38px
	height (@width)px
	display table
.approval-btn-container[data-which="yes"]
	color enable_green
.approval-btn-container[data-which="no"]
	color disabled_red
.approval-btn
	font-size 2.3em
	width 100%
	user-select none
	border 2px solid transparent
	display table-cell
	vertical-align middle
.approval-btn-container .approval-btn:hover
	cursor pointer
.approval-btn-container .approval-btn:active
	color #fff
.approval-btn-container[data-which="yes"] .approval-btn:hover
	border-color enable_green
.approval-btn-container[data-which="no"] .approval-btn:hover
	border-color disabled_red
.approval-btn-container[data-which="yes"] .approval-btn:active
	background-color enable_green
.approval-btn-container[data-which="no"] .approval-btn:active
	background-color disabled_red

.approval-child
	.title
		font-size 1.7em
		margin-bottom 3px
	.description
		font-size 1.2em
	
/* end drawer */

/* T E X T  S T Y L E S  */
.division-title,.division-description
	padding 10px
.division-title
	font-size 2.75em
.division-description
	font-size 1.2em
label
	font-size 1.2em
input
	margin-bottom 5px
.pub-date
	text-transform uppercase
	margin-bottom 3px
/* end text styles */

/*  M A I N   A R T I C L E  */
#content
	padding 0
	.comparison-container
		display inline-block
	.create-event
		float right

#content[data-mode="single"]
	padding 25px 50px

#content[data-mode="compare"]
	padding 25px

.article-detail-container
	.toolbar
		overflow auto
		margin 20px 0 40px 0
	.pub-date
		font-size 1.2em
	.headline,.title
		position relative
	.headline
		font-size 2.8em
	.title
		font-size 2.2em
	.headline:before,.title:before
		position absolute
		color #DDD
		font-weight 400
		top 1px
	.headline:before
		left -24px
		content '# '
	.title:before
		left -32px
		content '## '
	.description
		font-size 1.3em
/* end main article styles */
/* A R T I C L E  R O W */
.article-detail-row-wrapper
	position relative
	width 100% 
	.title:hover
		text-decoration underline
		cursor pointer
.article-detail-row-wrapper:nth-child(even)
	background-color #eaeaea	
	// .destroy
	// 	font-size 1.5em
	// 	user-select none

.article-detail-row-container
	.destroy
		width 25px
		position absolute
		top 0
		left -(@width)px
		height 100%
		font-size 1.4em
		color #ccc
		text-align right
		font-weight bold
		padding-right 5px
		// background-color #0cf
	.destroy:hover
		cursor pointer
		color #000


.article-detail-row-container
	padding 3px

single_width = 8%
multi_width = 14%

#compare-grid
	width 100%
.cell
	display inline-block
.header-group
	.name
		text-align center
		height 10px
		width 81% /* For some more visually pleasing centering */
	.dimension
		font-weight bold
		display inline-block
.cell[data-layout="single"]
	width single_width
	// background-color #fc0
.cell[data-layout="multi"]
	width multi_width
	.dimension
		width 50%
.article-detail-row-container
	.cell[data-layout="multi"]
		width (multi_width/2)

.cell[data-layout="single"]
	margin-right 10px
.header-group[data-layout="multi"],.cell[data-layout="multi"]:nth-child(odd)
	margin-right 20px

.bullet-container
	position relative
.bullet
	background-color select_blue
	height 10px
.marker
	position absolute
	top 0
	height 10px
	background-color #6f6f6f // TODO, maybe make this a standard gry or make a standard gray this
	width 2px

.bar-column
	display inline-block
	width 13px
	margin-right 1px
	text-align center
	vertical-align bottom
.bar
	width 100%
	margin-top 1px
	height 2px
/* end main article styles */


/* M O D A L  W I N D O W S */
.modal-outer
	display none
.modal-outer,.modal-overlay
	top 0
	left 0
	right 0
	bottom 0
.modal-overlay
	background-color rgba(0,0,0,.7)
.modal-inner
	background-color #fff
	padding 20px
	border 1px solid #000
	width 420px
	.title
		font-size 1.4em
		font-weight bold
		border-bottom 1px solid border_gray
		margin-bottom 5px
.modal-outer.active
	display block
	position absolute
	.modal-overlay,.modal-inner
		position fixed
.form-row
	padding-bottom 5px
.buttons-container
	button,input[type="submit"]
		margin 0 3px 0 0
.alert-form-container
	.title
		font-size 3em
		color bg_gray
		margin-bottom 10px
.modal-outer
	form
		label
			font-size 1.3em
			display inline-block
			width 40%
			margin-bottom 3px
		.input-text-container
			width 55%
			display inline-block
		.help-row
			text-align right
			margin-bottom 2px
		.hint-row
			color bg_gray
			position absolute
		input[type="text"]
			width 100%
			margin 0
		select
			margin 0
/* end modal windows */

/* S E T T I N G S */
body[data-section="settings"] #content
	padding 25px 35px 25px 35px

input_width = 200px
destroy_width = 20px
input_margin = 5px
setting_title_width = 100px
.settings-group
	width 600px
	position relative
	// background-color #0cf
.settings-title
	// font-weight bold
	font-size 1.8em
	margin-bottom 15px
	border-bottom 1px solid #ccc
	position relative
.settings-title:before
	content '# '
	color #ccc
	position absolute
	left -15px
.setting-group
	margin-bottom 20px
.setting-title
	font-size 1.2em
	width setting_title_width
	font-weight bold
	// color darken(settings, 35%)
	// background-color #fc0
.setting-description
	font-size 1.2em
	margin-bottom 5px
	color bg_gray
.setting-title,.inputs-container,.multi-child,.color-picker
	display inline-block
	vertical-align top
#settings
	.inputs-container
		width 450px
		// background-color #f0c
	.input
		height 25px
		margin-left destroy_width
		input[type='text']
			margin 0 input_margin 0 0
			width input_width
		input[type='radio'],input[type='checkbox']
			margin 0
	.input input[type='text'],.color-picker
		height 20px
	.input.multi
		margin-left 0

.setting-flag
	font-size 1.2em
	margin-bottom 3px
	margin-left (setting_title_width + destroy_width + input_width + input_margin )
.destroy.multi-child
	width destroy_width
	height 100%
	text-align center
	font-size 1.4em
	color #aaa
.destroy.multi-child:hover
	cursor pointer
	color #000
button.add
	display block
	margin-left (setting_title_width + destroy_width)
.color-picker
	width 25px
// Color picker style overrides
// The arrow
.sp-replacer:hover .sp-dd
	color #999
.sp-dd
	font-size 18px
	line-height 0px
	color #ccc
	padding 0
.sp-preview
	margin-right 0
	border none
.sp-replacer
	padding 0
	border none
	background transparent
.sp-container
	border-color #ccc
.sp-picker-container
	border none
.sp-input
	background auto
	border-radius 0
.sp-cancel
	color #000 !important
.sp-palette .sp-thumb-el
	border-color #ECECEC
.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active
	border-color #303030
.sp-palette.sp-thumb.sp-cf
	width 80px
.sp-palette-row-selection
	margin-top 10px
	padding-top 10px
	border-top 1px solid #ccc
.auth-result
	font-size 1.4em
	display inline
.success
	color enable_green
.fail
	color disabled_red
.authenticate
	display block
	color #000 !important
	margin-top 3px
	button
		margin 0

.save-container
	margin-top 35px
	input
		font-size 2.4em
/* end settings */

/* L O G I N */
#login
	label
		display inline-block
		width 70px
/* end login */

/* user styles, to be got from server */
social_color = #66c2a5
major_impact_color = #fc8d62
citation_color = #8da0cb
darken_border = 30%
darken_color = 80%
/* end user styles*/
// .tag[data-tag*="social"]
// 	background-color social_color
// 	border-color darken(social_color, darken_border)
// 	color darken(social_color, darken_color)
// .ST-note[data-note-type*="social"] line
// 	stroke social_color

// .tag[data-tag*="major-event"]
// 	background-color major_impact_color
// 	border-color darken(major_impact_color, darken_border)
// 	color darken(social_color, darken_color)
// .ST-note[data-note-type*="major-event"] line
// 	stroke major_impact_color

// .tag[data-tag*="citation"]
// 	background-color citation_color
// 	border-color darken(citation_color, darken_border)
// 	color darken(social_color, darken_color)
// .ST-note[data-note-type*="citation"] line
// 	stroke citation_color

