@import 'nib'

*
	box-sizing border-box
html
	font-size 16px
body
	font 62.5% "Helvetica Neue","Lucida Grande", Helvetica, Arial, sans-serif
	margin 0
html,body
	height 100%
a
	color #0092ce
	text-decoration none
a:hover
	color #0082b6
	text-decoration underline
ul
	list-style none
	margin 0
	padding 0

h1,h2,h3,h4,ul
	margin 0
	padding 0
	-webkit-margin-before 0px
	-webkit-margin-after 0px
	-webkit-margin-start 0px
	-webkit-margin-end 0px
	-webkit-padding-start 0


input[type="search"]
	appearance searchfield

// Widths
leftrail_width = 250
drawer_width = 285
content_width = 850
furniture_width = (leftrail_width + drawer_width)px
page_width = (leftrail_width + drawer_width + content_width)

// Colors
dummy = #fc0
the_beige = #f3f0df
the_green = #0eb521
leftrail_gray = #393939
bg_gray = #7C7C7C
highlight_gray = #666
select_blue = #88cfff
// Page colors
login = #d6ccdf
about = #e3943b
approval_river = #12b7dd
articles = #3ec173
series = #b980c2
events = #c13d3d

/* M A I N  P A G E  E L E M E N T S  */
#main-wrapper
	width 100%
	height 100%
	min-width 960px //TK
#left-rail,#drawer, #content
	display inline-block
	position relative
	vertical-align top
	height 100%

#drawer, #content
	overflow-y scroll
	overflow-x hidden
#left-rail
	width (leftrail_width)px
	background-color leftrail_gray
	overflow hidden
	// box-shadow 0px 0px 6px #000
	z-index 9
#drawer
	width (drawer_width)px
	background-color dummy
	border-right 1px solid darken(dummy, 10%)
	// box-shadow 0px 0px 8px darken(dummy, 10%)
	z-index 8
#content
	width calc(100% - 285px - 250px ) // These should be tied to the variables above but they are not due to a stylus error that puts a space between the value and the `px`, so if you change the leftrail or drawer widths, these values need to be updated
/* end main page elements */

/* H E A D E R	*/
#left-rail
	height 100%
	color #fff
	overflow-x hidden
	#header-container
		height 50px
		width 100%
		background-color black
		// box-shadow 0 6px 12px #000
		padding 3px 0 0 5px
		a
			text-decoration none
			color #f2f2f2
		a:hover h1
			text-decoration underline
		img, h1.page-title
			position relative
		img
			height 45px
			width (@height)px
		h1.page-title
			top 20%
			font-size 2.5em
			margin 0
			padding 0
			font-weight 200
			display inline-block
			vertical-align top
		.settings
			display inline-block
			position relative
			vertical-align top
			top 20px
			left 40px
			a
				font-size 1.4em
			a:hover
				text-decoration underline
	nav
		overflow-y scroll
		overflow-x hidden
		height calc(98vh - 50px)


/* L E F T  R A I L */
.main-sections
	margin-top 10px
	height 98%
	li
		user-select none
	.section.active .nav-link
		text-shadow 0 0px 12px #535353
	.section.active:hover
		cursor default
	.option-container
		margin 5px 0 12px
	input, select
		width 100%
		display inline-block
	select
		height 26px
		padding-top 2px
	.section-options, .nav-link, a
		padding 10px 25px
	.nav-link,a
		color #f2f2f2
	.nav-link, a
		font-size 2em
		font-weight 100
		display block
		text-decoration none
	a:hover
		cursor pointer
		background-color highlight_gray
	.section.active .nav-link:hover
		cursor default
	.option-container[data-type="date-range"] input
		width 45%
	.option-container[data-type="date-range"] input[data-dir="to"]
		float right

.section-options,.section-subnav
	background-color bg_gray
	color #fff
// .subnav-option:hover
// 	cursor pointer
// 	background-color tint(bg_gray, 23%)
	
.section-options
	input[type="search"]
		height 23px
	.option-title
		font-size 1.1em
		text-transform uppercase
		letter-spacing 1px
		margin-bottom 4px
		padding-bottom 4px
		border-bottom 1px solid #A1A1A1


#tag-list
	.tag-wrapper
		padding-bottom 4px
	.tag-wrapper:hover
		cursor pointer
	.tag-wrapper:hover .tag-container
		background-color #A1A1A1
	.tag-container
		position relative
		top 2px
		padding 5px 8px
		border-left 4px solid #0cf
		border-right-top-radius 3px
		border-right-bottom-radius 3px
		user-select none
	.tag-wrapper.active .tag-container
		background-color #0cf
		border-left-width 0
	.tag-name,.tag-count
		display inline-block
		font-size 1.1em
	.tag-count
		float right

/* end left rails */

/* S E C T I O N  S P E C I F I C  S T Y L E S  */
body[data-section="about"]
	.section.active > .nav-link
		background-color about
	#drawer
		background-color tint(about, 90%)
		border-right-color tint(about, 25%)
body[data-section="approval-river"] 
	.section.active > .nav-link
		background-color approval_river
	#drawer
		background-color tint(approval_river, 90%)
		border-right-color tint(approval_river, 25%)
	.division-switcher li.active
		background-color approval_river
		text-shadow 0 0px 12px #535353
body[data-section="articles"]
	#left-rail
		// box-shadow 0px 0px 6px darken(articles, 35%)
	.section.active > .nav-link
		background-color articles
	#drawer
		background-color tint(articles, 90%)
		border-right-color tint(articles, 25%)
	.division-switcher li.active
		background-color articles
		text-shadow 0 0px 12px #535353
		// box-shadow 0px 0px 11px articles

body[data-section="series"] 
	.section.active > .nav-link
		background-color series
	#drawer
		background-color tint(series, 85%)
		border-right-color tint(series, 25%)
body[data-section="events"] 
	.section.active > .nav-link
		background-color events
	#drawer
		background-color tint(events, 85%)
		border-right-color tint(events, 60%)
body[data-section="login"] 
	#drawer
		background-color login
		border-right-color darken(login, 25%)
		// box-shadow 0px 0px 11px login
/* end section specific styles */

/* D R A W E R */
#drawer
	p
		font-size 1.3em
		line-height 1.3em
.drawer-title,.division-switcher
	width 100%
	font-size 2.4em
	font-weight 100
// TODO, possibly remove .drawer-item
.drawer-title,.drawer-item,.drawer-list-item
	padding 10px 15px
	user-select none
.drawer-short-item
	padding 0 15px
.drawer-section-title
	font-size 1.4em
	font-weight 200
/*   A R T I C L E  S T Y L E S   */
.division-switcher
	font-size 1.8em
	display table
	background-color bg_gray
	li
		display table-cell
		width 50%
		text-align center
		vertical-align middle
		padding 5px
		height 50px
		color #fff
		user-select none
	li:not(.active):hover
		cursor pointer
		background-color tint(highlight_gray, 30%)
	.active:hover
		cursor default

.drawer-list-item
	user-select none
	.pub-date
		font-size 1.1em
	.headline
		font-size 1.2em
.drawer-list-item:first-child
	// margin-top 10px
.drawer-list-item:not(.active):hover
	cursor pointer
	background-color tint(select_blue, 45%)
.drawer-list-item.active
	background-color select_blue
.drawer-list-item.active:hover
	cursor default
#drawer[data-mode="compare"] .drawer-list-item.active:hover,
#drawer[data-mode="my-alerts"] .drawer-list-item.active:hover
	background-color darken(select_blue, 7%)
	cursor pointer
// TODO, instead of darkening the background color, have an x always present that gets underlines on hover

/*  A P P R O V A L  R I V E R   */
#alert-sources
	padding 0
.view-all
	text-align right
	font-size 1.3em
	color #ccc
.view-all:hover
	cursor default
.view-all.active
	color #000
.view-all.active:hover
	text-decoration underline
	cursor pointer
/* end drawer */

/* T E X T  S T Y L E S  */
.division-title
	font-size 2.75em
	border-bottom 1px solid #a0a0a0
label
	font-size 1.2em
input
	margin-bottom 5px
.pub-date
	text-transform uppercase
	margin-bottom 3px

#content 
	.pub-date
		font-size 1.2em
	.headline,.title
		position relative
	.headline
		font-size 2.8em
	.title
		font-size 2.2em
	.headline:before,.title:before
		position absolute
		color #DDD
		font-weight 400
		top 1px
	.headline:before
		left -24px
		content '# '
	.title:before
		left -32px
		content '## '
	.description
		font-size 1.3em
/* end text styles */

/*  M A I N   A R T I C L E  */
.article-detail-wrapper
	padding 25px 50px
#content
	.toolbar
		overflow auto
		margin 20px 0 40px 0
	.comparison-container
		display inline-block
	.create-event
		float right
/* end text styles */
// /* M A I N	E L E M E N T S */
// .main-content
// 	width 66.66%
// 	height auto
// 	display inline-block
// 	border-right 1px solid #e5e5e5
// 	background-color #fff
// 	padding-right 30px
// 	// box-shadow 0 0 13px #1e1e1e

// h1.headline
// 	font-size 2.4em
// 	margin 0 0 10px 0

// h2.deck
// 	font-weight normal
// 	font-size 1.3em

// .section-hed
// 	font-size 2.3em
// 	margin-bottom 5px

/* R I G H T	R A I L */
// .admin-container
// 	font-size 1.4em
// 	text-align right
// 	height 100%
// 	top 12%
// 	position absolute
// 	right 15px
// .admin-item
// 	display inline-block
// 	margin 5px
// .admin-item:hover
// 	text-decoration underline
// 	cursor pointer

// .rail-sections
// 	margin-top 25px
// .rail-section
// 	margin-bottom 25px
// 	position relative
// 	left -1px
// .rail-section-title
// 	font-size 1.4em
// 	display inline-block
// 	padding 7px 26px 7px 7px
// 	margin-bottom 3px
// 	border-top-right-radius: 5px;
// 	border-bottom-right-radius: 5px;
// .rail-section-title:hover
// 	text-decoration underline
// 	cursor pointer
// .rail-section-title.active
// 	background-color #fff
// 	// box-shadow 4px 0px 5px -1px #D6D6D6
// 	color the_green
// .rail-section-title.active:hover
// 	cursor default
// 	text-decoration none
// .rail-preview-items
// 	padding-left 8px


/* C O N T E N T	S E C T I O N S */
// .content-switcher
// 	width 100%

// .content-section
// 	display none
// 	width 100%

// /* dashboard */
// .timeline-wrapper
// 	width 100%

// .timeline-graph
// 	width 100%
// 	height 200px
// 	margin-bottom 25px


/* E V E N T	R I V E R */
// .tag-filters
// 	margin-bottom 20px
// .tag-filters .pointer
// 	font-size 1em
// 	margin-bottom 2px
// 	text-transform uppercase
// .tag
// 	display inline-block
// 	font-size: 1.1em
// 	padding 2px 4px
// 	color #ccc
// 	margin-right 5px
// 	border-radius 3px
// 	background-color #666
// 	border 1px solid #616161
// .tag-filter
// 	user-select none
// 	opacity .4
// .tag-filter.selected
// 	opacity 1
// .tag-filter:hover
// 	cursor pointer
// 	text-decoration underline

// .event-item-wrapper
// 	border-left 3px solid #c3412c
// 	padding 5px
// 	margin-bottom 10px
// 	// box-shadow 0 0 4px #ccc
// 	border-top-right-radius: 5px;
// 	border-bottom-right-radius: 5px;


// .event-item-title
// 	font-size 1.5em
// 	margin-bottom 10px

// .event-item-desc
// 	font-size 1.2em
// 	margin-bottom 10px

// .event-item-tag.tag
// 	font-size 1em
// 	padding: 1px 3px

/* F L A G S	*/
// .shown
// 	display block

/* user styles */
social_color = #66c2a5
major_impact_color = #fc8d62
citation_color = #8da0cb
darken_border = 30%
darken_color = 80%

// .tag[data-tag*="social"]
// 	background-color social_color
// 	border-color darken(social_color, darken_border)
// 	color darken(social_color, darken_color)
// .ST-note[data-note-type*="social"] line
// 	stroke social_color

// .tag[data-tag*="major-event"]
// 	background-color major_impact_color
// 	border-color darken(major_impact_color, darken_border)
// 	color darken(social_color, darken_color)
// .ST-note[data-note-type*="major-event"] line
// 	stroke major_impact_color

// .tag[data-tag*="citation"]
// 	background-color citation_color
// 	border-color darken(citation_color, darken_border)
// 	color darken(social_color, darken_color)
// .ST-note[data-note-type*="citation"] line
// 	stroke citation_color

