@import 'nib'

link_blue = #0092ce
link_blue_hover = #0082b6

*
	box-sizing border-box
html
	font-size 16px
body
	font 62.5% "Helvetica Neue","Lucida Grande", Helvetica, Arial, sans-serif
	margin 0
html,body
	height 100%
a
	color link_blue
	text-decoration none
a:hover
	color link_blue_hover
	text-decoration underline
ul
	list-style none
	margin 0
	padding 0

h1,h2,h3,h4,ul
	margin 0
	padding 0
	-webkit-margin-before 0px
	-webkit-margin-after 0px
	-webkit-margin-start 0px
	-webkit-margin-end 0px
	-webkit-padding-start 0

p
	margin 0

.division-description
	p 
		margin-bottom 10px

input[type="search"]
	appearance searchfield
button
	margin 0
button:hover,input[type="submit"]:hover,input[type="button"]:hover
	cursor pointer

input[type="password"],input[type="text"]
	margin-left 0
/* M O D E S */
body[data-modal=true]
	overflow hidden
	.drawer-list-item-ul
		overflow hidden

// Widths
leftrail_width = 250px
drawer_width = 285px
content_width = 850
header_height = 50px
furniture_width = leftrail_width + drawer_width
page_width = (leftrail_width + drawer_width + content_width)

// Colors
dummy = #fc0
the_beige = #f3f0df
the_green = #0eb521
leftrail_gray = #393939
bg_gray = #7C7C7C
highlight_gray = #666
border_gray = #777676
bg_blue = #b4d5ec
select_blue = #88cfff
enable_green = #529624
disabled_red = #9E0000
// Page colors
login = #d6ccdf
about = #e3943b
home = #008def
approval_river = #12b7dd
articles = #3ec173
settings = #b980c2
events = #c13d3d

/* M A I N  P A G E  E L E M E N T S  */
#main-wrapper
	width 100%
	height 100%
	min-width 960px //TK
#left-rail,#drawer, #content
	display inline-block
	// position relative
	vertical-align top
	height 100%

#drawer, #content
	overflow-x hidden
#left-rail
	width leftrail_width
	background-color leftrail_gray
	overflow hidden
	// box-shadow 0px 0px 6px #000
	z-index 9
#drawer
	width drawer_width
	background-color dummy
	border-right 1px solid border_gray
	// box-shadow 0px 0px 8px darken(dummy, 10%)
	z-index 8
#content
	width "calc(100% - %s)" % (drawer_width + leftrail_width)
/* end main page elements */

/* H E A D E R	*/
section_li_height = 45px
section_nav_margin_top = 10px

#left-rail
	height 100%
	color #fff
	overflow-x hidden
	#header-container
		height header_height
		width 100%
		background-color #000
		// box-shadow 0 6px 12px #000
		padding 3px 0 0 0
		a
			text-decoration none
			color #ccc 
		a:hover h1
			color #fff
		img, h1.page-title
			position relative
		img
			height 45px
			width @height
		h1.page-title
			top 20%
			font-size 2.5em
			margin 0
			padding 0
			font-weight 200
			display inline-block
			vertical-align top
		.settings
			display inline-block
			position relative
			top 20px
			float right
			padding-right 5px
			a
				padding 0 7px 0 7px
				font-size 1.7em
				margin-top -2px
				color #9e9e9e
			a:hover
				color #fff
	.section-options[data-section-options="articles"]
		overflow-y scroll
		overflow-x hidden
		height 'calc(100vh - %s)' % (header_height + section_li_height*3 + section_nav_margin_top)


/* L E F T  R A I L */
.main-sections
	margin-top 10px
	li
		user-select none
	.section.active .nav-link
		text-shadow 0 0px 12px #535353
	.section.active:hover
		cursor default
	.option-container
		margin 12px 0 12px
	input, select
		width 100%
		display inline-block
	select
		height 26px
		padding-top 2px
	.section-options, .nav-link, a:not(.out-link)
		padding 10px 25px
	.nav-link,a
		color #f2f2f2
	.nav-link, a:not(.out-link)
		font-size 2em
		font-weight 100
		display block
		text-decoration none
	a:hover:not(.out-link)
		cursor pointer
		background-color highlight_gray
	.section.active .nav-link:hover
		cursor default
	.option-container[data-type="date-range"] input
		width 45%
	.option-container[data-type="date-range"] input[data-dir="to"]
		float right

.section-options,.section-subnav
	background-color bg_gray
	color #fff
	
.section-options
	input[type="search"]
		height 23px
	.section-title
		font-size 1.3em
		font-weight bold
		margin-bottom 10px
		color #C0C0C0
	.option-title
		font-size 1em
		text-transform uppercase
		letter-spacing 1px
		margin-bottom 4px
		padding-bottom 4px
		border-bottom 1px solid #A1A1A1
		span
			text-transform none
		span:hover
			cursor pointer
			text-decoration underline

.tag-list
	.tag-wrapper
		padding-bottom 4px
	.tag-wrapper:hover
		cursor pointer
	.tag-wrapper:hover .tag-container
		background-color #A1A1A1
	.tag-container
		position relative
		top 1px
		padding 5px 8px
		border-left 4px solid #0cf
		border-right-top-radius 3px
		border-right-bottom-radius 3px
		user-select none
	.tag-wrapper.active .tag-container
		background-color #0cf
		border-left-width 0
	.tag-name,.tag-count
		display inline-block
		font-size 1.2em
	.tag-count
		float right
	.color-swatch // This is TK, design and integration with existing css styles needs to be done more comprehensively
		display inline-block
		height 10px
		width 5px
		margin-right 3px
	.info
		display inline-block

.option-container
	.tag-list
		display none

.option-container[data-type="search"]
	button
		width 100%

/* end left rails */

/* S E C T I O N  S P E C I F I C  S T Y L E S  */
body[data-section="about"]
	.section.active > .nav-link
		background-color about
	#drawer
		background-color tint(about, 90%)
body[data-section="home"]
	.section.active > .nav-link
		background-color home
	#drawer
		background-color tint(home, 90%)
body[data-section="approval-river"] 
	.section.active > .nav-link
		background-color approval_river
	#drawer
		background-color tint(approval_river, 90%)
	.division-switcher li.active
		background-color approval_river
		text-shadow 0 0px 12px #535353
body[data-section="articles"]
	.section.active > .nav-link
		background-color articles
	#drawer
		background-color tint(articles, 90%)
	.division-switcher li.active
		background-color articles
		text-shadow 0 0px 12px #535353
body[data-section="settings"] 
	.section.active > .nav-link
		background-color settings
	#drawer
		background-color tint(settings, 85%)
body[data-section="login"] 
	#drawer
		background-color login

/* end section specific styles */

/* D R A W E R */
division_switcher_height = 50px
drawer_pointer_padding = 62px
drawer_item_single_line = 37px

body[data-section="login"] #content
	padding 15px
	
#drawer
	p
		// font-size 1.3em
		line-height 1.3em
.drawer-title,.division-switcher
	width 100%
	font-size 2.4em
	font-weight 100
// TODO, possibly remove .drawer-item
.drawer-title,.drawer-item,.drawer-list-outer,.modal-outer
	padding 10px
	user-select none
.drawer-short-item
	padding 0 15px
.drawer-section-title
	font-size 1.4em
	font-weight 200
// .drawer-list-inner
// 	border-left 3px solid select_blue
// 	padding 6px 0 6px 5px
// .drawer-list-item.active .drawer-list-inner
// 	border-left-width 0
// 	padding-left 0
// .drawer-list-inner,.tag-container
// 	transition border-left-width .1s linear,padding-left .1s linear
/*   A R T I C L E  S T Y L E S   */
.division-switcher
	font-size 1.8em
	display table
	background-color bg_gray
	li
		display table-cell
		width 50%
		text-align center
		vertical-align middle
		padding 5px
		height division_switcher_height
		color #fff
		user-select none
	li:not(.active):hover
		cursor pointer
		background-color tint(highlight_gray, 30%)
	.active:hover
		cursor default

.drawer-list-item,.drawer-options,.drawer-section-title,.drawer-pointer
	user-select none
	.btn
		padding 5px 0
	.pub-date
		font-size 1.1em
	.title
		font-size 1.4em
		margin-bottom 2px
	.count
		text-transform uppercase
		margin-bottom 2px
	.description
		font-size 1.2em
		color bg_gray
	.toolbar
		position relative
		font-size 1.2em
		margin-top 11px
	.settings-switch,.enable-switch
		display inline-block
	.enable-switch
		bottom 0
		position absolute
		right 0
	.enable-switch[data-enabled="true"]
		color enable_green
	.enable-switch[data-enabled="false"]
		color disabled_red
	.settings-switch:not(.active):hover .text,.enable-switch:hover
		text-decoration underline
		cursor pointer
	.settings-switch:active
		color #666
	.modal-switch.active:hover
		cursor default
	// .enable-switch[data-enabled="true"]:active
	// 	color shade(enable_green, 80%)
	// .enable-switch[data-enabled="false"]:active
	// 	color shade(disabled_red, 80%)
.drawer-list-outer:not(.active):hover
	cursor pointer
	background-color tint(select_blue, 45%)
.drawer-list-outer.active
	background-color select_blue
.drawer-list-outer.active:hover
	cursor default
#drawer[data-mode="compare"] .drawer-list-outer.active:hover,
#drawer[data-mode="my-recipes"] .drawer-list-outer.active:hover
	background-color darken(select_blue, 7%)
	cursor pointer

#drawer[data-mode="compare"],
#drawer[data-mode="detail"],
#drawer[data-mode="my-recipes"]
	.inputs-container,.drawer-list-inner
		display inline-block
		vertical-align top
	.inputs-container
		margin-right 10px
	.drawer-list-inner
		width 85%

.drawer-list-item-ul
	height "calc(100vh - %s)" % (division_switcher_height + drawer_pointer_padding*2 + 1) // Plus one because apparently this is like one pixel off	
	overflow-x hidden
	overflow-y scroll
.drawer-container[data-mode="my-recipes"]
	.drawer-list-item-ul
		height "calc(100vh - %s)" % (division_switcher_height + drawer_pointer_padding*1.5 + drawer_item_single_line ) // Plus one because apparently this is like one pixel off	
/* end drawer item */

/* H O M E */
body[data-section="home"] #content
	padding 15px

/* end home */

/*  A P P R O V A L  R I V E R   */
#content[data-mode="create-new"]
	padding 25px 30px
	.article-detail-wrapper
		margin 10px 0 55px 0
		padding 10px 10px 10px 50px
		max-width 600px
#content[data-mode="my-recipes"]
	padding 5px 20px
	.article-detail-wrapper
		margin 10px
		padding 10px
		width 375px

.drawer-pointer
	padding 20px 10px 8px 10px
	font-size 1.3em
	font-weight bold
	color #303030
	p
		font-weight normal
		padding-bottom 8px
		span
			font-weight bold
	.drawer-item
		padding 5px
		.add-to-comparison
			border-radius 2px
			padding 7px 7px 7px 17px
			color #53A373
			font-weight 400
			background-color tint(articles, 72%)
			box-shadow 1px 1px 2px -1px rgba(26, 92, 3, .5)
			text-shadow 1px 1px 3px rgba(234, 250, 231, 1.0)
	.drawer-item:hover
		cursor pointer
	.drawer-item:hover .add-to-comparison
		background-color tint(articles, 60%)
		color #3D915F
	.add-to-comparison:active
		background-color tint(articles, 45%) !important
		text-shadow 1px 1px 3px rgba(234, 250, 231, .5)


.drawer-pointer.center
	text-align center
#recipe-sources
	padding 0
.view-all:hover
	cursor default
#drawer[data-mode="my-recipes"] .view-all.active.drawer-list-outer:hover
	background-color select_blue
	cursor default
.approval-child[data-which="btns"]
	margin-right 1%
.approval-child[data-which="info"]
	width 85%
.approval-btn-container
	text-align center
	width 50%
	display inline-table
	color #4e4e4e
.approval-btn-container[data-which="yes"]
	background-color #A2F4BF
	// color enable_green
.approval-btn-container[data-which="no"]
	background-color #FFB0B0
	// color disabled_red
.approval-btn
	font-size 1.8em
	width 100%
	user-select none
	border 2px solid transparent
	display table-cell
	vertical-align middle
.approval-btn-container .approval-btn:hover
	cursor pointer
.approval-btn-container .approval-btn:active
	color #fff
.approval-btn-container[data-which="yes"] .approval-btn:hover
	border-color enable_green
.approval-btn-container[data-which="no"] .approval-btn:hover
	border-color disabled_red
.approval-btn-container[data-which="yes"] .approval-btn:active
	background-color enable_green
.approval-btn-container[data-which="no"] .approval-btn:active
	background-color disabled_red

.approval-child
	.title
		font-size 1.7em
		margin-bottom 3px
	.description
		font-size 1.2em

.show-hide-default-event
	font-size 1.4em
	margin 5px 0 15px 0
	user-select none
	line-height 1.4em
	.toggle-default-event[data-status="true"]
		color enable_green
	.toggle-default-event[data-status="false"]
		color disabled_red
	.toggle-default-event:hover
		text-decoration underline
		cursor pointer

.default-event-container
	display none
// 	overflow hidden
// 	transition height 200ms cubic-bezier(0,0,.2,1)
// .default-event-container.slide-open
// 	height 100%


/* end approval river */

/* T E X T  S T Y L E S  */
.division-title,.division-description
	padding 10px
.division-title
	font-size 2.75em
.division-description
	font-size 1.2em
label
	user-select none
	// font-size 1.2em
input
	margin-bottom 5px
.pub-date
	text-transform uppercase
	margin-bottom 3px
/* end text styles */

/*  M A I N  A R T I C L E  */
#content
	padding 0

#content[data-mode="detail"]
	padding 25px 50px

#content[data-mode="compare"]
	padding 25px

.article-detail-container
	.toolbar
		overflow auto
		margin 20px 0 40px 0
		padding-bottom 10px
		border-bottom 1px solid #ccc
	.pub-date
		font-size 1.2em
	.headline,.title
		position relative
	.headline
		font-size 2.8em
	.title
		font-size 2.2em
	.headline:before,.title:before
		position absolute
		color #DDD
		font-weight 400
		top 1px
	.headline:before
		left -24px
		content '# '
	.title:before
		left -32px
		content '## '
	.description
		font-size 1.3em
	.group-container
		display inline-block
		vertical-align bottom
		height 100%
		width 50%
		.group-title
			font-size 1.3em
			font-weight 200
			margin-bottom 5px
		ul.tabs
			.tab
				font-size 1.3em
				display inline-block
				padding 5px 8px
				margin-right 5px
				font-weight 200
				letter-spacing 1px
				user-select none
			.tab.active
				background articles
				color #fff
			.tab:hover
				cursor pointer
				text-decoration underline
			.tab.active:hover
				cursor default
				text-decoration none
	.group-container[data-side="right"]
		.group-item
			float right
			display block
			margin-left 50%
	.tag-container
		margin 5px 0
	.tag-title
		display inline
		font-size 1.2em
	ul.tags
		display inline
		.tag
			display inline
			padding 3px 5px
			background-color #fc0
			margin-left 5px
			user-select none
			border-radius 2px
			font-size 1.1em
			position relative
		.tag:hover
			cursor pointer
		.tag:hover:after
			position absolute
			left 0
			top 0
			text-align center
			width 100%
			height 100%
			content 'Remove'
			letter-spacing 1px
			color #000
			line-height 1.5em
			border-radius 2px
			background-color #fff
			border 1px solid #ccc
			box-sizing border-box
	.edit-tags
		display inline
		margin-left 10px
	#ST-chart
		max-width 960px
		height 500px
		margin-bottom 50px

/* end main article styles */
/* A R T I C L E  R O W */
.article-detail-row-wrapper
	width 100%
	border-bottom 1px solid #eaeaea
	height 28px
	background-color #fff
	.title:hover
		text-decoration underline
		cursor pointer
// .article-detail-row-wrapper:nth-child(even)
// 	border-color #eaeaea	
// 	background-color #eaeaea	
// .destroy
// 	font-size 1.5em
// 	user-select none

.article-detail-row-container
	.destroy
		width 25px
		position absolute
		top 0
		left -(@width)px
		height 100%
		font-size 1.4em
		color #ccc
		text-align right
		font-weight bold
		padding-right 5px
		// background-color #0cf
	.destroy:hover
		cursor pointer
		color #000

.article-detail-row-container
	padding 5px 0 

single_width = 8%
multi_width = 13%
wide_width = 11%
bars_width = 8%

single_margin = 20px
date_margin = single_margin/2
bullet_margin = 10px
group_margin = 30px

#compare-grid
	width 100%
.cell
	display inline-block
	vertical-align top
.cell.gfx
	vertical-align bottom
	position relative
	top -3px
		
.cell
	width single_width
	margin-right single_margin
.cell.multi
	width (multi_width/2)
	margin-right bullet_margin
.cell.date
	margin-right date_margin
.cell.wide
	width wide_width
.cell.bar
	width bars_width
.header-meta
	margin-right group_margin
	// background-color #fc0
.header-dimensions-container .cell.multi:nth-child(even),
.article-detail-row-container .cell.multi:nth-child(odd)
	margin-right group_margin
/* Header styles */
.header-meta-container,.header-dimensions-container
	width 100%
.header-dimensions-container
	font-weight bold
	margin-bottom 3px
	border-bottom 1px solid #ccc
.header-meta
	width unquote('calc('+multi_width+' + '+bullet_margin+')')
	text-align center
	font-size 1.1em
.header-meta.bars
	width unquote('calc('+bars_width*2+' + '+bullet_margin+')')
.header-meta:first-child
	margin-left unquote('calc('+(single_width + unit(wide_width,""))+' + '+(single_margin + date_margin)+')')
.header-el
	font-size 1.1em
	user-select none
	position relative
.header-el:hover
	cursor pointer
	text-decoration underline
.header-el.active
	color the_green
	white-space no-wrap
.header-el .name
	display inline-block
.header-el.active:after
	display inline-block
	text-decoration none
	margin-left 3px
	font-size .8em
.header-el.active:hover:after
	text-decoration none
.header-el.active[data-sort-ascending="true"]:after
	content '▲'
	position relative
	top -2px
.header-el.active[data-sort-ascending="false"]:after
	content '▲'
	transform rotate(180deg)
/* end header styles */


.cell.title
	white-space no-wrap
	overflow-x hidden
	font-size 1.2em
.cell.date
	font-size 1.2em
.bullet-container
	background-color #eee
.bullet
	background-color select_blue
	height 10px
.marker
	position absolute
	top -2px
	height 14px
	background-color #6f6f6f // TODO, maybe make this a standard gry or make a standard gray this
	width 2px

.bar-column
	display inline-block
	width 13px
	margin-right 1px
	text-align center
	vertical-align bottom
.bar-container[data-group="subject"]
	.bar
		height 10px
	
.bar
	width 100%
	margin-top 1px
	height 2px
/* end main article styles */


/* M O D A L  W I N D O W S */
.modal-outer
	display none
.modal-outer,.modal-overlay
	top 0
	left 0
	right 0
	bottom 0
.modal-overlay
	background-color rgba(0,0,0,.7)
	z-index 9999
.modal-inner
	background-color #fff
	padding 20px
	border 1px solid #000
	width 525px
	z-index 99999
	.title
		font-size 1.4em
		font-weight bold
		border-bottom 1px solid border_gray
		margin-bottom 5px
	.description
		margin-bottom 5px
		font-size 1.2em
.modal-inner:hover
	cursor default !important
.modal-outer.active
	display block
	position absolute
	.modal-overlay,.modal-inner
		position fixed
.form-row
	padding-bottom 5px
	input
		margin-left 0
.buttons-container
	padding-top 10px
	button,input[type="submit"]
		margin 0 5px 0 -2px
.recipe-form-container
	.title
		position relative
		font-size 3em
		color bg_gray
		margin-bottom 25px
	.service-icon
		top 0
		width 40px
		height @width
		left -(@width + 5)px
		margin-bottom 5px
	.submit-msg
		display inline
		padding-left 5px
		vertical-align bottom
		font-size 1.4em

.form-checkbox-group
	display block
	width 100%

input.destroy
	float right

.toolbar
	.service-icon
		width 15px
		height @width
		top -8px
		right 0
		.service-method-label
			position absolute
			right 20px
			bottom 0

.service-icon
	position absolute
	background-size contain
	background-repeat no-repeat
	display inline-block
	bottom 0
	background-position right
.service-icon[data-service="google"]
	background-image url(/images/google.png)
.service-icon[data-service="twitter"]
	background-image url(/images/twitter.png)
.service-icon[data-service="reddit"]
	background-image url(/images/reddit.png)

.modal-outer,.recipe-form-container
	form
		.form-row-label-container
			font-size 1.4em
			display inline-block
			width 40%
			margin-bottom 3px
		.form-row-label-container.form-row-label-top
			vertical-align top
		.form-row-input-container
			width 59%
			display inline-block
		.help-row
			text-align right
			margin-bottom 2px
		.hint-row
			color bg_gray
			position absolute
		input[type="text"]
			width 100%
			margin 0
		select
			margin 0
/* end modal windows */

/* S E T T I N G S */
body[data-section="settings"] #content
	padding 25px 35px 25px 35px

input_width = 200px
destroy_width = 20px
input_margin = 5px
setting_title_width = 100px
inputs_width = 500px
select_width = 76px

.settings-group
	width 600px
	position relative
	// background-color #0cf
.settings-title
	// font-weight bold
	font-size 1.8em
	margin-bottom 15px
	border-bottom 1px solid #ccc
	position relative
.settings-title:before
	content '# '
	color #ccc
	position absolute
	left -15px
.setting-group
	margin-bottom 20px
.setting-title
	font-size 1.2em
	width setting_title_width
	font-weight bold
	// color darken(settings, 35%)
	// background-color #fc0
.setting-description
	font-size 1.2em
	color bg_gray
.setting-description p
	margin-bottom 5px
.setting-title,.inputs-container,.multi-child,.color-picker
	display inline-block
	vertical-align top
#settings
	margin-bottom 50px
	.inputs-container
		width inputs_width
		// background-color #f0c
	.input
		height 25px
		margin-left destroy_width
		input[type='text'],select
			margin 0 input_margin 0 0
		input[type='text'],input[type='password']
			width input_width
		input[type='radio'],input[type='checkbox']
			margin 0
		input[type='password']
			margin 0 0 5px destroy_width
			clear right
	.input input[type='text'],.color-picker
		height 20px
	.input.multi
		margin-left 0
#account-authentication
	.setting-group
		margin-top 20px
.setting-flag
	font-size 1.2em
	font-weight bold
	margin-bottom 3px
	margin-left ( setting_title_width + destroy_width + input_width + input_margin*1.6 + 1 )
.setting-group[data-group="impact-tags"] .setting-flag
	display inline-block
.setting-group[data-group="impact-tags"] .setting-flag:nth-child(2)
	margin-left 58px
	margin-right 50px // Bump the next line to the next line
.destroy.multi-child
	width destroy_width
	height 100%
	text-align center
	font-size 1.4em
	color #aaa
.destroy.multi-child:hover
	cursor pointer
	color #000
button.add
	display block
	margin-left (setting_title_width + destroy_width)
.color-picker
	width 25px
// Color picker style overrides
// The arrow
.sp-replacer:hover .sp-dd
	color #999
.sp-dd
	font-size 18px
	line-height 0px
	color #ccc
	padding 0
.sp-preview
	margin-right 0
	border none
.sp-replacer
	padding 0
	border none
	background transparent
	vertical-align top
.sp-container
	border-color #ccc
.sp-picker-container
	border none
.sp-input
	background auto
	border-radius 0
.sp-cancel
	color #000 !important
.sp-palette .sp-thumb-el
	border-color #ECECEC
.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active
	border-color #303030
.sp-palette.sp-thumb.sp-cf
	width 80px
.sp-palette-row-selection
	margin-top 10px
	padding-top 10px
	border-top 1px solid #ccc
.auth-container
	display inline-block
	vertical-align top
	margin-left destroy_width
.auth-result
	font-size 1.3em
	margin-bottom 10px
.success
	color enable_green
.fail
	color disabled_red
.authenticate
	display block
	color #000 !important
	margin-top 3px
	button
		margin 0

.save-container
	margin 25px 0
	input
		font-size 2.4em
/* end settings */

/* L O G I N */
#login
	label
		display inline-block
		width 70px
		font-size 1.3em
	input[type="submit"]
		margin-top 10px
.msg
	font-size 1.3em
	margin-top 10px
.msg.fail
	color disabled_red

/* end login */

/* user styles, to be got from server */
social_color = #66c2a5
major_impact_color = #fc8d62
citation_color = #8da0cb
darken_border = 30%
darken_color = 80%
/* end user styles*/
// .tag[data-tag*="social"]
// 	background-color social_color
// 	border-color darken(social_color, darken_border)
// 	color darken(social_color, darken_color)
// .ST-note[data-note-type*="social"] line
// 	stroke social_color

// .tag[data-tag*="major-event"]
// 	background-color major_impact_color
// 	border-color darken(major_impact_color, darken_border)
// 	color darken(social_color, darken_color)
// .ST-note[data-note-type*="major-event"] line
// 	stroke major_impact_color

// .tag[data-tag*="citation"]
// 	background-color citation_color
// 	border-color darken(citation_color, darken_border)
// 	color darken(social_color, darken_color)
// .ST-note[data-note-type*="citation"] line
// 	stroke citation_color

