header_toolbar_height = 35px

body
  padding-top header_toolbar_height
#header-toolbar
  position fixed
  top 0
  right 0
  left 0
  height header_toolbar_height
  background-color #000
  color #fff
  z-index 999999999
  .content-wrapper
    width 960px
    height 100%
    margin 0 auto
  