.tooltipped
	position relative
.tooltipped:hover:before,
.tooltipped:hover:after
	display inline-block

.tooltipped:before,
.tooltipped:after
	position absolute
	display none
	right 50%
	font-weight normal

// .tooltipped-i:before,
// .tooltipped-i:after,
.tooltipped:before,
.tooltipped:after
	pointer-events none

tooltip_y_offset = 4px
tooltip_y_offset_low = tooltip_y_offset + 10

.tooltipped:before
	z-index 9998
	width 0
	height 0
	color rgba(0,0,0,0.8)
	content ""
	border 5px solid transparent
	top auto
	bottom -1*tooltip_y_offset
	margin-right -5px
	border-bottom-color rgba(0,0,0,0.8)

.tooltipped:after
	z-index 9997
	transform translateX(50%)
	margin-top tooltip_y_offset
	top 100%
	padding 1px 8px 2px 8px
	font-size 12px
	line-height 1.5
	color #fff
	text-align center
	text-decoration none
	word-wrap break-word
	white-space pre
	content attr(aria-label)
	background rgba(0,0,0,0.8)
	border-radius 3px
	-webkit-font-smoothing subpixel-antialiased
	
.tooltipped[data-tooltip-vertical="low"]
	&:before
		bottom -1*tooltip_y_offset_low
	&:after
		margin-top tooltip_y_offset_low

.tooltipped[data-tooltip-align="left"]:after
	transform translateX(0%)
	left 0
	right auto
.tooltipped[data-tooltip-align="right"]:after
	transform translateX(0%)
	left auto
	right -10px
	
.tooltipped[data-tooltip-orientation="right"]
	&:before
		border-bottom-color transparent
		border-top-color transparent
		border-right-color rgba(0,0,0,0.8)
		bottom 3px
		right -11px
		margin-right 0
	&:after
		top -3px
		margin-top 0
		right -10px
		transform translateX(100%)
	