extends layout

block content
	#main-wrapper
		nav.right-rail
			ul.admin-container
				li.admin-item(data-icon="user") twilkinson
				li.admin-item(data-icon="logout") logout
			ul.rail-sections
				li.rail-section(data-section="dashboard")
					.rail-section-title.active Article dashboard
				li.rail-section(data-section="recipes")
					.rail-section-title Active impact recipes
					ul.rail-preview-items
						li.rail-preview-item Recipe 1
						li.rail-preview-item Recipe 2
				li.rail-section(data-section="media-links")
					.rail-section-title Media links
					ul.rail-preview-items
						li.rail-preview-item Link 1
						li.rail-preview-item Link 2
				li.rail-section(data-section="report-generator")
					.rail-section-title Generate report

		section.main-content
			header
				h1.headline Effectiveness of wiretaps questionable
				h2.deck The carbon in our apple pies billions upon billions cosmos. Extraplanetary Hypatia. Tendrils of gossamer clouds? Rogue stirred by starlight across the centuries cosmic ocean white dwarf billions upon billions the carbon in our apple pies Tunguska event.

			section.content-switcher

				section.content-section.shown(data-section="dashboard")
					include sections/dashboard/dashboard

				section.content-section(data-section="recipes")
					include sections/recipes/recipes

				section.content-section(data-section="media-links")
					include sections/media-links/media-links

				section.content-section(data-section="report-generator")
					include sections/report-generator/report-generator

block scripts
	script(src="../javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="../javascripts/thirdparty/d3.v3.min.js")
	script(src="../javascripts/thirdparty/underscore-min.js")
	script(src="../javascripts/thirdparty/backbone-min.js")
	script(src="https://raw.githubusercontent.com/newslynx/spotted-tail/master/js/spotted-tail.js")
	script(src="../javascripts/main.js")
