extends layout

block drawer
	.division-title Articles
	ul#article-list

block templates
	script(type="text/jst")#tag-templ
		.tag-container
			.tag-name <%= name %>
			.tag-count <%= count %>

	script(type="text/jst")#article-summary-templ
		.article-summary-container
			.pub-date <%= pub_date %>
			.headline <%= headline %>

block scripts
	script(src="javascripts/thirdparty/jquery-1.11.0.min.js")
	script(src="javascripts/thirdparty/underscore-min.js")
	script(src="javascripts/thirdparty/backbone-min.js")
	script(src="javascripts/main.js")