doctype html
html
	head
		title NewsLynx | 
			= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='')
	body
		include furniture/header
		block content
		block scripts
