@import 'nib'

*
	box-sizing border-box
html
	font-size 16px
body
	font 62.5% "Helvetica Neue","Lucida Grande", Helvetica, Arial, sans-serif
	margin 0
html,body
	height 100%
a
	color #0092ce
	text-decoration none
a:hover
	color #0082b6
	text-decoration underline
ul
	list-style none
	margin 0
	padding 0

// Widths
page_width = 960
leftrail_width = 250
drawer_width = 275
content_width = 100

// Colors
dummy = #fc0
the_beige = #f3f0df
the_green = #0eb521
leftrail_gray = #393939
// Page colors
login = #d6ccdf
about = #e3943b
approval_river = #12b7dd
articles = #3ec173
series = #b980c2
events = #c13d3d

/* M A I N  P A G E  E L E M E N T S  */
#left-rail,#drawer, #content
	display inline-block
	position relative
	vertical-align top
	height 100%

#drawer,#content
	padding 15px
#left-rail
	width (leftrail_width)px
	background-color leftrail_gray
	// box-shadow 0px 0px 6px #000
	z-index 9
#drawer
	width (drawer_width)px
	background-color dummy
	border-right 1px solid darken(dummy, 10%)
	// box-shadow 0px 0px 8px darken(dummy, 10%)
	z-index 8
#content
	width (content_width)px
/* end main page elements */

/* H E A D E R	*/
#left-rail
	height 100%
	color #fff
	overflow-x hidden
	#header-container
		height 50px
		width 100%
		background-color black
		// box-shadow 0 6px 12px #000
		padding 3px 0 0 5px
		a
			text-decoration none
			color #f2f2f2
		a:hover h1
			text-decoration underline
		img, h1.page-title
			position relative
		img
			height 45px
			width (@height)px
		h1.page-title
			top 20%
			font-size 2.5em
			margin 0
			padding 0
			font-weight 200
			display inline-block
			vertical-align top
		.settings
			display inline-block
			position relative
			vertical-align top
			top 20px
			left 40px
			a
				font-size 1.4em
			a:hover
				text-decoration underline

/* L E F T  R A I L */
.main-sections
	margin-top 10px
	.section a
		font-size 2em
		font-weight 100
		padding 10px 0px 10px 25px
		color #f2f2f2
		display block
		text-decoration none
	.section a:hover
		cursor pointer
		background-color #666
	.section.active
		text-shadow 0 0px 12px #000
	.section.active:hover
		cursor default
/* end left rails */
/* S E C T I O N  S P E C I F I C  S T Y L E S  */
body[data-section="about"]
	.section.active a
		background-color about
	#drawer
		background-color tint(about, 90%)
		border-right-color tint(about, 25%)
body[data-section="approval-river"] 
	.section.active a
		background-color approval_river
	#drawer
		background-color tint(approval_river, 90%)
		border-right-color tint(approval_river, 25%)
body[data-section="articles"]
	#left-rail
		// box-shadow 0px 0px 6px darken(articles, 35%)
	.section.active a
		background-color articles
	#drawer
		background-color tint(articles, 90%)
		border-right-color tint(articles, 25%)
		// box-shadow 0px 0px 11px articles

body[data-section="series"] 
	.section.active a
		background-color series
	#drawer
		background-color tint(series, 85%)
		border-right-color tint(series, 25%)
body[data-section="events"] 
	.section.active a
		background-color events
	#drawer
		background-color tint(events, 85%)
		border-right-color tint(events, 60%)
body[data-section="login"] 
	#drawer
		background-color login
		border-right-color darken(login, 25%)
		// box-shadow 0px 0px 11px login
/* end section specific styles */
/* D R A W E R */
#drawer
	p
		font-size 1.3em
		line-height 1.3em

/* T E X T  S T Y L E S  */
.division-title
	font-size 2.75em
	border-bottom 1px solid #a0a0a0
label
	font-size 1.2em
input
	margin-bottom 5px

/* M A I N	E L E M E N T S */
.main-content
	width 66.66%
	height auto
	display inline-block
	border-right 1px solid #e5e5e5
	background-color #fff
	padding-right 30px
	// box-shadow 0 0 13px #1e1e1e

h1.headline
	font-size 2.4em
	margin 0 0 10px 0

h2.deck
	font-weight normal
	font-size 1.3em

.section-hed
	font-size 2.3em
	margin-bottom 5px

/* R I G H T	R A I L */
// .admin-container
// 	font-size 1.4em
// 	text-align right
// 	height 100%
// 	top 12%
// 	position absolute
// 	right 15px
// .admin-item
// 	display inline-block
// 	margin 5px
// .admin-item:hover
// 	text-decoration underline
// 	cursor pointer

.rail-sections
	margin-top 25px
.rail-section
	margin-bottom 25px
	position relative
	left -1px
.rail-section-title
	font-size 1.4em
	display inline-block
	padding 7px 26px 7px 7px
	margin-bottom 3px
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
.rail-section-title:hover
	text-decoration underline
	cursor pointer
.rail-section-title.active
	background-color #fff
	// box-shadow 4px 0px 5px -1px #D6D6D6
	color the_green
.rail-section-title.active:hover
	cursor default
	text-decoration none
.rail-preview-items
	padding-left 8px


/* C O N T E N T	S E C T I O N S */
.content-switcher
	width 100%

.content-section
	display none
	width 100%

/* dashboard */
.timeline-wrapper
	width 100%

.timeline-graph
	width 100%
	height 200px
	margin-bottom 25px


/* E V E N T	R I V E R */
.tag-filters
	margin-bottom 20px
.tag-filters .pointer
	font-size 1em
	margin-bottom 2px
	text-transform uppercase
.tag
	display inline-block
	font-size: 1.1em
	padding 2px 4px
	color #ccc
	margin-right 5px
	border-radius 3px
	background-color #666
	border 1px solid #616161
.tag-filter
	user-select none
	opacity .4
.tag-filter.selected
	opacity 1
.tag-filter:hover
	cursor pointer
	text-decoration underline

.event-item-wrapper
	border-left 3px solid #c3412c
	padding 5px
	margin-bottom 10px
	// box-shadow 0 0 4px #ccc
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;


.event-item-title
	font-size 1.5em
	margin-bottom 10px

.event-item-desc
	font-size 1.2em
	margin-bottom 10px

.event-item-tag.tag
	font-size 1em
	padding: 1px 3px

/* F L A G S	*/
.shown
	display block

/* user styles */
social_color = #66c2a5
major_impact_color = #fc8d62
citation_color = #8da0cb
darken_border = 30%
darken_color = 80%

.tag[data-tag*="social"]
	background-color social_color
	border-color darken(social_color, darken_border)
	color darken(social_color, darken_color)
.ST-note[data-note-type*="social"] line
	stroke social_color

.tag[data-tag*="major-event"]
	background-color major_impact_color
	border-color darken(major_impact_color, darken_border)
	color darken(social_color, darken_color)
.ST-note[data-note-type*="major-event"] line
	stroke major_impact_color

.tag[data-tag*="citation"]
	background-color citation_color
	border-color darken(citation_color, darken_border)
	color darken(social_color, darken_color)
.ST-note[data-note-type*="citation"] line
	stroke citation_color

