* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font: 62.5% "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}
a {
  color: #00b7ff;
}
/* H E A D E R	*/
#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 35px;
  border-bottom: 2px solid #0eb521;
  background-color: #fffdf1;
}
#header img {
  vertical-align: middle;
  height: 100%;
}
#header .page-title {
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
}
/* M A I N	E L E M E N T S */
#main-wrapper {
  max-width: 960px;
  margin: 35px auto;
}
.right-rail {
  width: 33.33%;
  height: auto;
  min-height: 100px;
  float: right;
}
.main-content {
  width: 66.66%;
  height: auto;
  display: inline-block;
  border-right: 1px solid #e5e5e5;
  background-color: #fff;
  padding-right: 30px;
  -webkit-box-shadow: 13px 0px 14px -16px #ccc;
  box-shadow: 13px 0px 14px -16px #ccc;
}
h1.headline {
  font-size: 2.4em;
  margin-bottom: 10px;
}
h2.deck {
  font-weight: normal;
  font-size: 1.3em;
}
.section-hed {
  font-size: 2.3em;
  margin-bottom: 5px;
}
/* R I G H T	R A I L */
.admin-container {
  font-size: 1.4em;
  text-align: center;
  margin: 10px 0 20px 0;
}
.admin-item {
  display: inline-block;
  margin: 5px;
}
.admin-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.rail-section {
  margin-bottom: 25px;
  position: relative;
  left: -1px;
}
.rail-section-title {
  font-size: 1.4em;
  display: inline-block;
  padding: 7px 26px 7px 7px;
  margin-bottom: 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.rail-section-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.rail-section-title.active {
  background-color: #fff;
  -webkit-box-shadow: 4px 0px 5px -1px #d6d6d6;
  box-shadow: 4px 0px 5px -1px #d6d6d6;
  color: #0eb521;
}
.rail-section-title.active:hover {
  cursor: default;
  text-decoration: none;
}
.rail-preview-items {
  padding-left: 8px;
}
/* C O N T E N T	S E C T I O N S */
.content-switcher {
  width: 100%;
}
.content-section {
  display: none;
  width: 100%;
}
/* dashboard */
.timeline-wrapper {
  width: 100%;
}
.timeline-graph {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
}
/* E V E N T	R I V E R */
.tag-filters {
  margin-bottom: 20px;
}
.tag-filters .pointer {
  font-size: 1em;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.tag {
  display: inline-block;
  font-size: 1.1em;
  padding: 2px 4px;
  color: #ccc;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #666;
  border: 1px solid #616161;
}
.tag-filter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.tag-filter.selected {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.tag-filter:hover {
  cursor: pointer;
  text-decoration: underline;
}
.event-item-wrapper {
  border-left: 3px solid #c3412c;
  padding: 5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 4px #ccc;
  box-shadow: 0 0 4px #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.event-item-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.event-item-desc {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.event-item-tag.tag {
  font-size: 1em;
  padding: 1px 3px;
}
/* F L A G S	*/
.shown {
  display: block;
}
/* user styles */
.tag[data-tag*="social"] {
  background-color: #66c2a5;
  border-color: #3b9478;
  color: #112a22;
}
.ST-note[data-note-type*="social"] line {
  stroke: #66c2a5;
}
.tag[data-tag*="major-event"] {
  background-color: #fc8d62;
  border-color: #f04605;
  color: #112a22;
}
.ST-note[data-note-type*="major-event"] line {
  stroke: #fc8d62;
}
.tag[data-tag*="citation"] {
  background-color: #8da0cb;
  border-color: #4b67a5;
  color: #112a22;
}
.ST-note[data-note-type*="citation"] line {
  stroke: #8da0cb;
}
