nav#breadcrumbs
	ul
		li.organization 
			a(href="/org-name") organization
			span  /
		li.series  
			a(href="org-name/series-name") series
			span  /
		li.article.current Effectiveness of wiretaps questionable
