mixin about
	li.section.active(data-section="about")
		a(href="/about") About
			
mixin approval-river
	li.section.active(data-section="approval-river")
		a(href="/approval-river") Approval river
			
mixin articles
	li.section.active(data-section="articles")
		a(href="/articles") Articles
		.section-options
			.option-container(data-type="search")
				input(type="search" name="article-search" results="5" placeholder="Search..." incremental)
			.option-container(data-type="sort")
				.option-title Sort by
				select
					option Publish date
					option # impact events
					option TKTK
			.option-container(data-type="tags")
				.option-title Tags
				ul#tag-list
			.option-container(data-type="edit-tags")
				.option-title 
				button.manage-tags Manage tags
				button.new-tag New tag


mixin series
	li.section.active(data-section="series")
		a(href="/series") Series
			
mixin events
	li.section.active(data-section="events")
		a(href="/events") Events
		
nav
	ul.main-sections
		if (page == 'about')
			mixin about
		else	
			li.section(data-section="about")
				a(href="/about") About
		if (page == 'approval-river')
			mixin approval-river
		else	
			li.section(data-section="approval-river")
				a(href="/approval-river") Approval river
		if (page == 'articles')
			mixin articles
		else	
			li.section(data-section="articles")
				a(href="/articles") Articles
		if (page == 'series')
			mixin series
		else	
			li.section(data-section="series")
				a(href="/series") Series
		if (page == 'events')
			mixin events
		else	
			li.section(data-section="events")
				a(href="/events") Events

