header#header-container
	a.js-internal-link(href="/")
		img(src="/images/merlynne-white.png")
		h1.page-title NewsLynx
	ul.settings
		if info.authed
			li.admin-item(aria-label="Settings")
				a.js-internal-link(href="/settings").util-btn
					.octicon.octicon-tools
			li.admin-item(aria-label="Sign out")
				a(href="/logout").util-btn
					.octicon.octicon-sign-out