mixin about
	li.section.active(data-section="about")
		span.nav-link About
			
mixin approval-river
	li.section.active(data-section="approval-river")
		span.nav-link Approval river
			//- .section-img
			//- 	img(src="images/merlynne/potion.svg")

			
mixin articles
	li.section.active(data-section="articles")
		span.nav-link Articles
			//- .section-img
			//- 	img(src="images/merlynne/t-square.svg")
	li.section-options(data-section-options="articles")
		#add-article.modal-parent
			button.add-article.modal-toggle + Add article
		.section-title Select articles by...
		.option-container(data-type="search")
			.option-title Keywords
			input(type="text", name="article-title-searcher", placeholder="Search for...")#article-title-searcher
		.option-container(data-type="date-range")#date-range-searcher
			.option-title Date range 
				span.clear-date-range(data-open="true") Clear
			input(type="text" placeholder="After..." data-dir="after")
			input(type="text" placeholder="Before..." data-dir="before")
		.option-container(data-type="sort")#article-drawer-sorter
			.option-title Sort by
			select
				option(value="timestamp_desc") Publish date
				option(value="twitter_mentions_desc") Twitter mentions
				option(value="facebook_likes_desc") Facebook likes
				option(value="pageviews_desc" selected="selected") Pageviews
				option(value="avg_time_on_page_desc") Avg. time on page
				option(value="per_internal_desc") Internal referrers
				option(value="per_external_desc") External referrers
				option(value="subject_tags_desc") Subject tags
				option(value="impact_tags_desc") Impact tags
		.option-container(data-type="subject-tags")
			.option-title Subject tags 
				span.show-hide(data-open="false") Show
			ul.tag-list
				li.placeholder
					| None yet! <br/>
					| Create them in   
					a.out-link(href="/settings") settings
					| .
		.option-container(data-type="impact-tags")
			.option-title Impact tags 
				span.show-hide(data-open="false") Show
			ul.tag-list
				li.placeholder
					| None yet! <br/>
					| Create them in   
					a.out-link(href="/settings") settings
					| .
		.option-container(data-type="categories")
			.option-title Impact categories 
				span.show-hide(data-open="false") Show
			ul.tag-list
				li.placeholder
					| None yet! <br/>
					| Create impact tags in   
					a.out-link(href="/settings") settings
					| .
		.option-container(data-type="levels")
			.option-title Impact levels 
				span.show-hide(data-open="false") Show
			ul.tag-list
				li.placeholder
					| None yet! <br/>
					| Create impact tags in   
					a.out-link(href="/settings") settings
					| .

			//- .edit
			//- 	a(href="/settings#tags").out-link Edit tags

//- mixin series
//- 	li.section.active(data-section="series")
//- 		span.nav-link Series
			
//- mixin events
//- 	li.section.active(data-section="events")
//- 		span.nav-link Events
		
//- mixin home
//- 	li.section.active(data-section="home")
//- 		span.nav-link Home
		
nav
	ul.main-sections
		//- if (page == 'home')
		//- 	mixin home
		//- else	
		//- 	li.section(data-section="home")
		//- 		a(href="/") Home
		//- if (page == 'about')
		//- 	mixin about
		//- else	
		//- 	li.section(data-section="about")
		//- 		a(href="/about") About
		if (info.page == 'approval-river')
			mixin approval-river
		else	
			li.section(data-section="approval-river")
				a(href="/approval-river") Approval river
					//- .section-img
					//- 	img(src="images/merlynne/potion.svg")
		if (info.page == 'articles')
			mixin articles
		else	
			li.section(data-section="articles")
				a(href="/articles") Articles
					//- .section-img
					//- 	img(src="images/merlynne/t-square.svg")
		//- if (page == 'series')
		//- 	mixin series
		//- else	
		//- 	li.section(data-section="series")
		//- 		a(href="/series") Series
		//- if (page == 'events')
		//- 	mixin events
		//- else	
		//- 	li.section(data-section="events")
		//- 		a(href="/events") Events

